<h3>Manjunath Kalburgi</h3>

<p>I'm an Indian web developer. That means I run a small web-based business that makes the world better. My main project is credmine.tk, the simplest profiling tool on earth. I'm super-close to launching a from-the-ground-up rewrite of it. Can't wait to show it to you. I live in Bangalore & Hubli with my parents and three sisters, in a house we built. I love meeting up with People From the Internet, so if that sounds like you, let's hang out sometime.
 
</p>

<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="/learn{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
