/*version 1.0.6*/
.carousel-inner.onebyone-carosel {
    margin: auto;
    width: 100%;
}

.onebyone-carosel .active.left {
    left: -33.33%;
}

.onebyone-carosel .active.right {
    left: 33.33%;
}

.onebyone-carosel .next {
    left: 33.33%;
}

.onebyone-carosel .prev {
    left: -33.33%;
}

#myCarousel .col-md-4 {
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
}

.carousel-control.right {
    background-image: none !important;
    filter: none !important;
}

.carousel-control {
    background-color: none;
    font-size: 1.5em;
    height: 32px;
    line-height: 1.4;
    margin: 0;
    padding: 0px 0px;
    width: 32px;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    -0-transition: color .2s;
    transition: color .2s;
    border-radius: 3px;
    opacity: 1 !important;
}

    .carousel-control:hover {
        opacity: 0.8 !important;
    }

.carousel-indicators {
    top: 260px;
}


.people-root {
    /*position: relative;
    left: 24%;*/
}

    .people-root .lists {
        width: 336px;
        float: left;
        position: absolute;
        left: 24%;
        bottom: 0;
        top: 0;
    }




.people-root input[type='checkbox']:disabled + span {
    background: none !important;
}

.people-root .isptabs .nav li a:hover, .isptabs .nav li a:active, .isptabs .nav li a:focus {
    border: none;
}

.people-root .isptabs .nav li.active a {
    font-family: "HoneywellSansWeb-Bold" !important;
    font-size: 14px;
    color: #1792e5;
    background: transparent;
    border-bottom: 4px solid #1792e5;
    padding: 8px 0 4px 0;
}



    .people-root .peopleoverview.isptabs .tab-header {
        margin-right: -15px;
        margin-left: -10px !important;
    }

.people-root .cardlistview {
    width: 25%;
    float: left;
        position: fixed;
    left: 24%;
    bottom: 0;
    top: 61px;
    border-right: 1px solid #e7e7e7;
}

    .people-root .cardlistview .isppagetitle {
        font-family: 'HoneywellSansWeb-Bold' !important;
        color: #202020;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 17px;
        margin-bottom: 14px;
    }

    .people-root .cardlistview .nav.nav-tabs {
        margin-left: 20px;
    }

    .people-root .cardlistview .panel.panel-default {
        border: 0;
        border-radius: 0 !important;
        border-top: 1px solid #d0d0d0;
        border-bottom: 1px solid #d0d0d0;
    }

.people-root .profile-pic {
    margin-top: 24px;
    left: 30px !important;
    background: #f2f2f2;
    padding: 0px;
    width: 114px;
    height: 109px;
    margin-right: 20px;
}

    .people-root .profile-pic img {
        max-width: 114px;
        max-height: 110px;
        width: 114px;
        height: 110px;
        padding: 0;
        border-radius: 0;
    }


        .people-root .profile-pic img[src=""] {
                background: #f2f2f2;
                display: block;
                width: 114px;
                height: 110px;
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
                border:none;
                visibility:hidden;
        }

    .people-root .profile-pic input[type="file"] {
            background-image: none;
            position: absolute;
            top: 0;
            width: 114px;
            height: 110px;
            z-index: 100;
    }

.people-root .img-browse-txt {
    margin-top: -40px;
    font-family: 'HoneywellSansWeb-Medium' !important;
    color: #606060;
    font-size: 12px;
}

/*.people-root .cardlistview #contact-list {
    position: fixed;
    width: 25%;
    top: 191px;
    overflow-y: auto;
    bottom: 0;
    height: auto;
    border-right: 1px solid #ddd;
}*/

.people-root .cardlistview #contact-list .ispimage-small img {
    min-width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 0;
}

    .people-root .cardlistview #contact-list .ispimage-small img[src=""] {
        background-image: url('../Images/icon_sprites_24px.svg');
        display: block;
        width: 56px;
        height: 56px;
        margin-top: 3px;
        background-size: 1400px;
        content: "";
        background-position: -226px -112px;
        vertical-align: top;
        z-index: 100;
    }

.people-root .cardlistview #contact-list .ispimage-small {
    max-width: 52px;
    padding-left: 2px;
}

.people-root .cardlistview #contact-list .checkbox-square {
    padding-left: 10px;
}

    /*this is custom fix for checkbox style on People list page and Create New IntrusionGroup from People page*/
    .people-root .cardlistview #contact-list .checkbox-square input[type="checkbox"], .people-root .addSchedule .checkbox-square input[type="checkbox"] {
        margin-top: 0;
    }


.people-root .cardlistview .name {
    font-family: 'HoneywellSansWeb-Bold' !important;
    font-size: 15px;
    color: #303030;
    text-align: left;
    margin-right: 0;
    display: inline-block;
    max-width: 82%;
    float: left;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.people-root .cardlistview .designation {
    font-family: 'HoneywellSansWeb-Bold' !important;
    font-size: 14px;
    color: #606060;
    float: left;
    position: absolute;
    left: 16px;
}

.people-root .cardlistview .employeeid {
    font-family: 'HoneywellSansWeb-Bold' !important;
    font-size: 14px;
    color: #808080;
}

    .people-root .cardlistview .employeeid .card {
        margin-left: 12px;
    }

.people-root .cardlistview .inactive {
    font-family: 'HoneywellSansWeb-Bold' !important;
    float: left;
    word-break: initial;
    font-size: 10px;
    line-height: 100%;
    color: #FFF;
    display: inline-block;
    background-color: #707070;
    text-transform: uppercase;
    float: left;
    max-width: 43%;
    padding: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 0;
    border: 1px solid #d0d0d0;
    margin-top: 0px;
}

.people-root .viewmode input, .people-root .viewmode textarea, .people-root .viewmode input[type="checkbox"], .people-root .viewmode input[type="radio"],
.people-root .viewmode select, .people-root .viewmode .ispicon_calender, .people-root .viewmode .btn-primary, .people-root .viewmode .ispaddicon, .people-root .viewmode .people_card_wrong_icon {
    /*background-color: #f2f2f2;*/
    font-family: 'HoneywellSansWeb-Medium' !important;
    font-size: 14px;
    color: #606060;
    pointer-events: none;
}

.people-root .viewmode .profile-pic input[type="file"] {
    pointer-events: none;
}

.people-root .viewmode .checkbox {
    pointer-events: none;
}

.people-root .viewmode .btn-footer {
    display: none;
    border: none !important;
}

.people-root .viewmode .ispicon_calender {
    background: transparent;
}

.people-root .btn-footer {
    margin-top: 10px;
    padding-top: 10px;
    left: -16px;
    background-color: #fff;
    border-color: #fff;
}

.people-root .bold {
    font-family: 'HoneywellSansWeb-Bold' !important;
    color: #303030;
}

.people-root .cardlistview .c-search {
    margin: 0;
}

.people-root .c-search input {
    padding-left: 50px;
    font-family: 'HoneywellSansWeb-Medium' !important;
    font-size: 14px;
    color: #d0d0d0;
    border: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.people-root .cardlistview .c-search input:focus, .people-root .cardlistview .c-search button:focus, .people-root .cardlistview .c-search input:hover {
    border: none;
    box-shadow: none;
    background-color: none;
}

.people-root .cardlistview .c-search button {
    border: 0;
}

.people-root .cardlistview .listcount {
    background: #f2f2f2;
    margin-right: 0;
    padding: 4px 0px 8px 15px;
}

.people-root .section-head2 {
    font-size: 18px;
    font-family: 'HoneywellSansWeb-Medium' !important;
    color: #606060;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.people-root .section-head1 {
    font-size: 22px;
    font-family: 'HoneywellSansWeb-Bold' !important;
    color: #303030;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 82%;
}

.peopleoverview .nav.nav-tabs {
    position: absolute;
    top: 85px;
    left: 152px;
    min-width: 100%;
    padding-top: 12px;
    bottom: 0;
    height: 49px;
}



@media (min-width: 1440px) {
    .people-root #profile, .people-root #access, .people-root #additional{
            height: 421px !important;
    }
}

@media (min-width: 1600px) {
    .people-root #profile, .people-root #access, .people-root #additional{
          height: 700px !important;
    }
}

@media (min-width: 1680px) {
    .people-root #profile, .people-root #access, .people-root #additional{
          height: 710px !important;
    }
}

@media (min-width: 1920px) {
    .people-root #profile, .people-root #access, .people-root #additional{
          height: 750px !important;
    }
    

    .people-root .btn-footer .btn-group.col-md-offset-4 {
        left: 64px;
    }

    .people-root .cardlistview .name {
        max-width: 217px;
    }
}

@media screen\0 and (min-width: 1366px) and (min-width: 1441px) {
    /*.peopleoverview .profile, .peopleoverview .access {
        height: calc(1366px - 898px);
    }*/
    .people-root #profile, .people-root #access, .people-root #additional{
        height: 560px !important;
    }
}

@media screen\0 {

    .people-root .peopleoverview .profile, .peopleoverview .access {
        /*height: calc(1366px - 898px);*/
    }

    .people-root .cardlistview .c-search input {
        padding-top: 10px;
    }

    .people-root .ispicon.inverse::before {
        width: 20px;
        left: 24px;
        top: 43px;
    }

    .people-root .peopleoverview .profile-pic img[src=''] {
        background-position: -150px -116px;
    }

    .people-root .cardlistview #contact-list .ispimage-small img {
        height: 50px !important;
    }
}

@media screen\0 and (min-width: 1920px) {
    .people-root .peopleoverview .profile, .peopleoverview .access {
        /*max-height: 900px;*/
    }
}

.blankview {
    padding-top: 20%;
    padding-left: 33%;
}

.cardlistview .rightlistcontent {
    width: 83%;
    padding-right: 0px;
}


.people-root .card-horizontal-scroller {
    margin-top: 14px;
    margin-bottom: 3px;
}

    .people-root .card-horizontal-scroller .card {
        max-width: 160px;
        padding: 10px 5px;
        margin-right: 8px;
        background-color: #f7f7f7;
        font-size: 14px;
        color: #000;
        font-family: 'HoneywellSansWeb-Bold' !important;
        cursor: pointer;
    }

        .people-root .card-horizontal-scroller .card.newCard {
            background: #D1E9FA;
            color: #fff;
            border: 1px solid #C0C0C0;
            margin-right: 20px;
            height: 75px;
            /*display: table;
    vertical-align: middle;
    padding: 20px 25px;*/
            text-align: center;
        }

            .people-root .card-horizontal-scroller .card.newCard span {
                background: none;
                /*font-size: 20px;*/
                font-weight: 600;
                vertical-align: middle;
                display: table;
                padding: 13px 18px;.people-root .card-horizontal-scroller .card.inActive
            }

            .people-root .card-horizontal-scroller .card.newCard.selected.active {
                background: #D1E9FA;
                color: #fff;
                border: 1px solid #C0C0C0;
                margin-right: 20px;
                height: 82px;
                text-align: center;
                    border-top: 4px solid #7EB338;
            }

            .arrow_box {
	            position: relative;
	            background: #d1e9fa;
	            border: 1px solid #c2e1f5;
            }
            .selected.arrow_box:after, .selected.arrow_box:before {
	            top: 100%;
	            left: 50%;
	            border: solid transparent;
	            content: " ";
	            height: 0;
	            width: 0;
	            position: absolute;
	            pointer-events: none;
            }

            .selected.arrow_box:after {
	            border-color: rgba(209, 233, 250, 0);
	            border-top-color: #d1e9fa;
	            border-width: 10px;
	            margin-left: -10px;
            }
            .selected.arrow_box:before {
	            border-color: rgba(194, 225, 245, 0);
	            border-top-color: #c0c0c0;
	            border-width: 11px;
	            margin-left: -11px;
            }

        .people-root .card-horizontal-scroller .card.active {
            background: #fff;
            color: #fff;
            border: 1px solid #C0C0C0;
            border-top: 4px solid #7EB338;
            margin-right: 20px;
            height: 80px;
        }


        .people-root .card-horizontal-scroller .card.inActive {
            background: #fff;
            color: #fff;
            border: 1px solid #F0F0F0 !important;
            border-top: 4px solid #D0D0D0 !important;
            margin-right: 20px;
            height: 80px;
        }

        .people-root .card-horizontal-scroller .card.selected {
            background: #D1E9FA;
            color: #fff;
            border: 1px solid #8BC9F2;
            border-top: 4px solid #7EB338;
            margin-right: 20px;
            height: 80px;
        }

        .people-root .card-horizontal-scroller .card span {
            background-color: #606060;
            padding: 2px 10px;
            margin-right: 10px;
            margin-bottom: 10px;
        }

            .people-root .card-horizontal-scroller .card span.carditem {
                background-color: transparent;
            }

.people-root .checkboxlabel .checkbox {
    margin: -5px 0 10px 0;
}

.people-root .ispbuttongroup {
    position: absolute;
    bottom: 0px;
    padding: 0;
    padding-top: 10px;
    border-top: 1px solid #d6d6d6;
    padding-left: 0px;
    margin-left: 16px;
    width: 100%;
    z-index: 10;
}

.viewmode .people-root .ispbuttongroup {
    display: none;
    border-top: none !important;
}

.people-root .viewmode .ispbuttongroup {
    border-top: none !important;
}

.people-root .overviewtitle {
    margin-top: 20px;
}

.ispbuttongroup .btn-group {
    right: 16px;
    /* position: absolute; */
    top: 16px;
    bottom: 16px;
}

.intrusionListStyle {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 150px;
}

    .intrusionListStyle ul {
        list-style-type: none;
    }


    .intrusionListStyle li {
        border: solid 0.01px #f2f2f2;
        list-style-type: none;
        height: 35px;
        cursor: pointer;
    }

        .intrusionListStyle li a {
            text-decoration: none;
            width: 100%;
        }

.outerDropdown {
    list-style-type: none;
}

.child {
    display: none;
}

.people-root .addSchedule .checkbox input[type="checkbox"] {
    opacity: 1 !important;
    margin-top: 0;
}

.people-root .people_activation_date_icon {
    top: 27px;
    right: 10px;
}

.people-root .people_expiry_date_icon {
    top: 27px;
    right: 25px;
}

.people-root .people_list_sort_icon {
    background: none !important;
    border: none !important;
}

    .people-root .people_list_sort_icon:hover {
        background: none !important;
        border: none !important;
    }

.people-root .people_list_search_icon:before {
    /*-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);*/
}

.people-root .people_access_activation_date_icon {
    right: 10px;
}

.people-root .people_access_expiry_date_icon {
    right: 22px;
}

.people-root .people_access_carousel_left_arrow_icon:before,
.people-root .people_access_carousel_right_arrow_icon:before {
    position: relative;
    top: 25px;
}

.people-root .people_card_wrong_icon {
    background: none !important;
    position: absolute;
    right: -15px;
    top: 0;
}

.people-root .people_access_cardno {
    position: absolute;
    top: 10px;
    /*color: #ddd;*/
}

.people-root .people_access_cardname {
    position: absolute;
    bottom: 6px;
    border: 1px solid #7EB338;
    background: #fff !important;
    padding: 0 5px !important;
    left: 15px;
    color: #7EB338;
    font-family: 'HoneywellSansWeb-Bold';
}

.people-root .spinner-control label {
    margin-bottom: 0;
}

.people-root .spinner-control input[type="checkbox"] {
    position: relative;
    bottom: 2px;
}

.people-root .spinner-control span.accessUses {
    font-weight: normal;
}

.people_delete .modal-dialog {
    background: #fff;
    width: 700px;
}

.people_delete .modal-content {
    box-shadow: none;
    border: none;
}

.people_delete.ispmodal {
    left: 25%;
    top: 25%;
}

.people_delete .modal-header {
    border-bottom: none !important;
}

.ispmodal.people_delete .modal-header {
    padding: 30px 0 0px 0;
    border-bottom: none;
}

    .ispmodal.people_delete .modal-header h1 {
        display: inline-block;
        width: 73%;
        padding-left: 10px;
        top: 0;
    }

.people-root .firsttimeLandingpage {
    position: absolute;
    right: 0px;
    padding: 0;
    margin-top: 20%;
    left: 20%;
}

    .people-root .firsttimeLandingpage .firsttimepage {
        padding: 0px;
        margin: 0px;
    }

.people-root .ispselectdropdown .isppopup-site {
    width: calc(100% - 5px);
}

.people-root .viewmode .btn-primary {
    border: none !important;
}

#peoplemgmtPeopleDeleteUser {
    border-radius: 5px;
}

#peoplemgmtPeopleDeleteUserAndCards {
    /*border-radius: 5px;*/
    margin-right: 8px;
}



#deletepeople .modal-footer {
    padding: 16px 20px 20px;
}

.people-root .ispselectdropdown .isppopup-site .accordion li div:hover {
    background: #e1eff9;
}

.people-root .people_access_cardname.inActive {
    color: #000;
    font-family: 'HoneywellSansWeb-Bold';
}

.people-root .ispselectdropdown .isppopup-site.peopleCredentialCardNo {
    width: calc(100% - 20px);
}

.people-root .peopleCredentialCardNo ul {
    width: 100% !important;
}

.people-root .card-horizontal-scroller .card.selected.active .carditem.people_access_cardno {
    color: #606060;
}

.people-root .card-horizontal-scroller .card.selected.inActive .carditem.people_access_cardno {
    color: #303030;
}

.people-root .card-horizontal-scroller .card.active .carditem.people_access_cardno {
    color: #606060;
}

.people-root .peopleListDeleteIcon {
    position: relative;
    left: 3px;
}

.people-root .peopleoverview .isptabs .nav li {
    padding: 0 20px 0 0;
}

.people-root .intrusionHeader hr {
    margin-top: 8px;
}

.people-root .intrusionHeader h3 {
    line-height: 1.4em;
    margin-bottom: 14px;
}

.people-root #access .access {
    margin-top: 8px;
}

.people-root .people_access_cardname.InActive {
    border: 1px solid #d0d0d0 !important;
    color: #fff;
    background: #707070 !important;
}

.people-root .people_access_cardname.active {
    border: 1px solid #d0d0d0 !important;
    color: #000;
    background: #98c260 !important;
}

#peoplemgmtCarosel {
    margin-left: 25px;
}

.people-root .access .carousel-control.right {
    background: none;
}

.people-root .carouselRightIcon {
    position: relative;
}

.people-root .cardlistview .ispheadersearch {
    padding-right: 20px;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    height: 43px;
}

.people-root .ispheadersearch .dropdown-toggle {
    margin: 0;
}

.people-root .peopleList_searchIcon:before {
    /*transform: rotate(90deg);*/
}

.people-root .peopleList_SearchInput {
    position: relative;
    right: 6px;
}

.people-root .peopleList_sortIcon {
    position: relative;
    right: 10px;
}

.people-root .peopleList_recordNos {
    position: relative;
    top: 5px;
    left: 5px;
}

.people-root .peopleList-sortList {
    margin: -5px 5px 0 0 !important;
}

.people-root .peopleList_sortIconBtn {
    background: none !important;
}

.people-root .people-edit-icon {
    position: absolute;
    right: 20px;
    top: 22px;
}

.people-root .people-add-icon {
    position: absolute;
    right: 56px;
    top: 22px;
}

.people-root .people-toggle-icon {
    position: absolute;
    right: 20px;
    top: 80px;
}

.people-root .row {
    height: 110px;
}

.people-root .listcontainer {
    position: absolute;
    top: 128px;
    bottom: 0px;
    overflow-y: hidden;
    width: 100%;
    margin-bottom: 0;
}

    .people-root .listcontainer:hover {
        overflow-y: auto;
    }

    .people-root .listcontainer .listStickyHeader {
        border-top: 0px;
        text-align: left;
        border-top: 2px solid #d0d0d0;
    }

.people-root .cardlistview .list-group-item {
    padding: 10px 20px;
    border-right: 0px;
    cursor: pointer;
}

.people-root .peopleoverview {
    position: absolute;
    bottom: 0;
    top: 0px;
    width: 50%;
    margin: 0px;
    left: 49%;
}

.people-root .heading {
    margin-top: 14px;
    margin-bottom: 7px;
}

.people-root #profile,.people-root #access,.people-root #additional {
    position: absolute;
    overflow-y: auto;
    overflow-x:hidden;
    top: 134px;
    bottom: 66px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;   
    height: 421px;
}

.people-root .profile-pic img[src=""] span::before{
    display:block;
}    

  

.deleteButtonMarginLeft {
    margin-left: 15px;
}

.people-root .importCardIcon {
    display: inline;
    margin-right: 5px;
}

.peopleBulkCardImportHeader {
    padding: 0 0 0 20px !important;
    margin: 0 !important;
}

.peopleBulkCardImportModalBody {
    padding-top: 10px !important;
}

.PeopleImportHolderForm {
    padding-top: 10px;
}

.peopleImportOverviewIcon {
    position: absolute;
    right: 30px;
    bottom: 25px;
}

.peopleBulkCardImportModalBody {
    padding-right: 0 !important;
}

.peopleImportFormatText {
    position: relative;
    top: 5px;
    font-size: 12px;
}

.peopleBulkCardImportModalBody ul li a {
    padding-bottom: 4px !important;
}

.importCardsModal {
    top: 20%;
    left: 0% !important;
}

.peopleBulkCardTabs {
    margin-right: 36px;
}

.peopleBulkCardModalFooter {
    padding-right: 16px !important;
}

    .peopleBulkCardModalFooter button {
        margin-right: 0 !important;
    }

/*
    .ps-import-card-holder-details {
        height: 532px;
        margin: 5% auto;
        width: 700px;
        background-color: #fff;
        position: relative;
    }
    */

.ps-import-card-holder-details-1 {
    margin: 5% auto;
    width: 700px;
    background-color: #fff;
}

.ps-import-card-holder-details header.row {
    padding: 0;
}

.ps-import-card-holder-details .row {
    margin-left: 0;
    margin-right: 0;
    padding: 0 20px;
}


/*
    .ps-import-card-holder-details .import-screen-table tr:hover,
    .ps-import-card-holder-details-1 .import-screen-table tr:hover {
        background: #f0f0f0 !important;
    }
    */

.ps-import-card-holder-details .import-holder-card-heading,
.ps-import-card-holder-details-1 .import-holder-card-heading {
    padding: 0;
    border-bottom: 0;
}

.ps-import-card-holder-details .modal-body,
.ps-import-card-holder-details-1 .modal-body.viewer-popup {
    padding: 0;
}

.ps-import-card-holder-details .nav.nav-tabs.pw_tabs li a {
    padding: 0 0 5px;
}

.ps-import-card-holder-details .people_details {
    width: 100%;
}

.ps-import-card-holder-details h1,
.ps-import-card-holder-details-1 h1 {
    color: #202020;
    font-size: 22px;
    margin: 0 34px;
    padding: 31px 0 0;
}

{
    color: #202020;
    font-size: 22px;
    margin: 0 32px;
    padding: 31px 0 0;
}

.ps-import-card-holder-details ul {
    padding-top: 20px;
    /*    padding-left: 24px;*/
}

.ps-import-card-holder-details .import-holder-form {
    float: left;
    width: 100%;
    padding: 20px 0px 24px 36px;
}

.ps-import-card-holder-details-1 .csv-file-title {
    margin: 20px 18px 0;
}

/*.ps-import-card-holder-details .import-holder-form label {
    width: 100%;
}*/

.ps-import-card-holder-details .activity_card_table .table > tbody > tr > td {
    width: 12.5%;
    border: 0;
    font-size: 14px;
    color: #606060;
}

.ps-import-card-holder-details .import-holder-form .row {
    padding: 0;
    height: 32px;
}

.ps-import-card-holder-details .csv-file {
    color: #606060;
    margin: 0;
    padding-top: 10px;
}

.ps-import-card-holder-details .form-group {
    margin-bottom: 0;
}

.ps-import-card-holder-details .modal-footer {
    padding: 16px 16px 15px;
}

.ps-import-card-holder-details .import-holder-form input {
    margin-left: 0;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-top: 6px;
    width: 320px;
}

.ps-import-card-holder-details .row > input {
    width: 300px;
}

.ps-import-card-holder-details .btn:first-child {
    margin-right: 6px;
}

.ps-import-card-holder-details ul.nav-tabs.pw_tabs {
    border-bottom: 1px solid #e7e7e7;
    padding: 15px 0 0;
    margin: 0 36px;
}

.ps-import-card-holder-details-1 ul.nav-tabs.pw_tabs {
    border-bottom: 1px solid #e7e7e7;
    padding: 0;
    margin: 0 18px;
}

    .ps-import-card-holder-details-1 ul.nav-tabs.pw_tabs li {
        padding: 0 20px 0 0;
    }


.ps-import-card-holder-details footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.ps-import-card-holder-details .import-holder-form .selectize-input {
    border-radius: 0;
}

.ps-import-card-holder-details .modal-content,
.ps-import-card-holder-details-1 .modal-content {
    border-radius: 0;
}


/* Css for Table by Brahm */

.ps-import-card-holder-details .table.download-status-table {
    margin-bottom: 0;
}

.ps-import-card-holder-details .import-screen-table table tbody tr td {
    height: 20px;
    vertical-align: middle;
}

.ps-import-card-holder-details .import-screen-table td.col-sm-4 {
    padding-bottom: 3px;
}

.ps-import-card-holder-details .import-screen-table .table-striped > tbody > tr:nth-of-type(odd) {
    background: none;
}

.ps-import-card-holder-details .table-header-download {
    background-color: #fff;
    display: inline-block;
    width: 100%;
    /*    border-bottom: 1px solid #e6e6e6;*/
    margin-top: -38px;
    padding: 0 32px;
    position: relative;
    overflow: hidden;
}

.ps-import-card-holder-details-1 .table-header-download {
    padding: 0 16px;
    height: 250px;
}

.ps-import-card-holder-details .import-screen-table {
    background-color: #fff;
    color: #606060;
    padding: 0;
}

.ps-import-card-holder-details-1 .btn-save {
    margin-right: 10px !important;
}


/*
    .ps-import-card-holder-details .import-screen-table th {
        color: transparent;
        border: medium none;
        color: transparent;
        font-weight: normal;
        height: 0;
        line-height: 0;
        margin: 0;
        padding-bottom: 0 !important;
        padding-top: 0 !important;
        white-space: nowrap;
        position: initial;
    }
    */


/*
    .ps-import-card-holder-details .import-screen-table td > div {
        padding-left: 11px;
    }
    .ps-import-card-holder-details .table-background {
        display: inline-block;
        padding: 0;
        width: 100%;
        margin-top: -10px;
    }
    */


/*
    .ps-import-card-holder-details .table-header-download .slimScrollDiv {
        overflow: visible !important;
        margin-top: 44px;
    }
    .ps-import-card-holder-details .import-screen-table th div {
        position: absolute;
        color: #808080;
        font-family: "HoneywellSansWeb-Bold" !important;
        padding: 16px 20px 14px;
        margin-left: -10px;
        line-height: normal;
        z-index: 8;
        text-align: left;
        top: -44px;
        background: #fff;
        width: 100%;
    }
    */

.ps-import-card-holder-details-1 .import-screen-table th div {
    color: #606060;
    font-family: "HoneywellSansWeb-Bold" !important;
}

.ps-import-card-holder-details .import-screen-table.scroll-x.scroll-y {
    border-top: 2px solid #dfdfdf;
    height: 207px !important;
}

.ps-import-card-holder-details .import-screen-table .table > thead > tr > th {
    border-bottom: 0;
}

.ps-import-card-holder-details .import-screen-table .table tbody tr:first-child td,
.ps-import-card-holder-details-1 .import-screen-table .table tbody tr:first-child td {
    border-top: 0;
    color: #606060;
    width: 17%;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background: #fff;
}

.error-status {
    color: #ee3124;
    /*    width: 6em;*/
    /*    text-overflow: ellipsis;*/
    /*    white-space: nowrap;*/
    /*    overflow: hidden;*/
}


/* Ends Here For table Css */

.ps-import-card-holder-details .heading-table {
    padding: 0;
}

    .ps-import-card-holder-details .heading-table h2 {
        font-size: 16px;
        font-weight: bold;
        color: #202020;
    }

@media screen and (-ms-high-contrast:active), all and (-ms-high-contrast:none) {
    .ps-import-card-holder-details .import-holder-form input {
        padding: 6px 6px 10px;
    }

    :-ms-input-placeholder {
        /* IE 10+ */
        color: #707070;
    }
}

.ps-import-card-holder-details .event_card_table_content {
    background-color: #ffffff;
}

.ps-import-card-holder-details table.event_card_table_content_assocoate {
    background-color: #ffffff;
    max-width: 98.5%;
}

.ps-import-card-holder-details .table.activity_card_table_body {
    border-spacing: 33px 0px;
    width: 100%;
    border-collapse: collapse;
    max-width: 100%;
    margin: 0 6px 0 0 !important;
}

.ps-import-card-holder-details .activity_card_table_body tbody {
    border-spacing: 33px 0px;
    width: 100%;
    border-collapse: collapse;
    max-width: 98.5%;
    margin: 0 0 0 0 !important;
    display: table;
    border-bottom: 1px solid #e7e7e7;
}

.ps-import-card-holder-details table.event_card_table_content_assocoate {
    border-spacing: 33px 0px;
    width: 100%;
    border-collapse: collapse;
    max-width: 100%;
    margin: 0 6px 0 0 !important;
}

.ps-import-card-holder-details .event_card_table_content_assocoate thead {
    border-spacing: 33px 0px;
    width: 100%;
    border-collapse: collapse;
    max-width: 98.5%;
    margin: 0 0 0 0 !important;
    display: table;
}

.ps-import-card-holder-details .video-settin .mpc .activity_card_table_body tbody tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
}

.ps-import-card-holder-details .table.header_tableevent.event_card_table_content thead tr th {
    line-height: 1.4;
    vertical-align: middle;
    padding-left: 20px;
    padding-bottom: 11px;
}

.ps-import-card-holder-details .table.header_tableevent.event_card_table_content thead tr th {
    border-bottom: none;
}

.ps-import-card-holder-details .activity_card_table_body tr,
.ps-import-card-holder-details .video-settin .mpc .activity_card_table_body th {
    border-top: #f0f0f0 1px solid;
    border-bottom: #f0f0f0 1px solid;
}

.ps-import-card-holder-details .event_card_table_content {
    background-color: #ffffff;
}

.ps-import-card-holder-details .activity_card_table .table > thead > tr > th {
    color: #606060;
    width: 12.5%;
    border: 0;
    font-size: 14px;
}

.ps-import-card-holder-details table.activity_card_table_body tbody tr td {
    padding-left: 20px;
}

.ps-import-card-holder-details .activity_card_table_body tbody tr td {
    line-height: 1.4;
    vertical-align: middle;
}

.ps-import-card-holder-details .activity_card_table_body tbody tr:hover td {
    background-color: #f5f5f5;
    border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0 !important;
    color: #303030;
}

.ps-import-card-holder-details .col-md-3.col-lg-3.pull-left.padding-20:nth-of-type(4n+4) {
    padding-right: 0px;
}

.ps-import-card-holder-details .activity_card_table .table-border {
    padding: 0 12px 0 0;
    border-bottom: 1px solid #dfdfdf;
}

.ps-import-card-holder-details .tab-content {
    border-left: 1px #e7e7e7 solid;
}

.ps-import-card-holder-details .activity_card_table_body tr,
.ps-import-card-holder-details .video-settin .mpc .activity_card_table_body th:first-child {
    border-top: #fff 1px solid;
}

@media (min-width: 768px) {
    .ps-import-card-holder-details.modal-dialog {
        width: 900px;
        margin: 30px auto;
    }
}

.ps-import-card-holder-details .popup_info_footer {
    float: left;
    width: 530px;
    text-align: left;
    padding-left: 18px;
    margin-bottom: 0;
    font-size: 12px;
    color: #606060;
}

.ps-import-card-holder-details .modal-footer .btn {
    margin-left: 10px;
    margin-right: 0px !important;
}

.ps-import-card-holder-details button.btn.btn-primary.btn-save {
    margin-right: 10px;
    margin-left: 7px;
}

.ps-import-card-holder-details .temp-access {
    padding-left: 32px !important;
}

.ps-import-card-holder-details sup {
    background: #ee3124;
    padding: 5px;
    top: -15px;
    border-radius: 20px;
    color: #fff;
}

.view_pwd {
    position: absolute;
    /*z-index: 1;*/
    top: 34px;
    right: 10px;
    display: block;
    width: 25px;
    height: 15px;
    cursor: pointer;
    background: url('../images/password_icons.png') no-repeat center top;
}

.password_show {
    padding-right: 30px;
}

.view_pwd:active {
    height: 18px;
    background: url('../images/password_icons.png') no-repeat 2px -18px;
}

.ps-import-card-holder-details .pin_show {
    top: -7px;
    position: relative;
}

.ps-import-card-holder-details .error {
    color: red;
}

.people-root .peopleAddCardlist {
    display: block;
    width: 100%;
}
.people-root .peopleAddPeople{
    zoom: 2;
}

.people-root .isp-no-data-container {
    position: absolute;
    bottom: 0;
    top: 0px;
    margin: 0px;
    width: 75%;
    margin: 0px;
    left: 24%
}

    .people-root .isp-no-data-container .isp-content-body-section {
        position: absolute;
        bottom: 0;
        top: 40%;
        width: 100%;
        text-align: center;
    }

    .people-root .isp-no-data-container .isp-content-heading-section {
        height: 64px;
        border-bottom: 1px solid #d0d0d0;
    }

        .people-root .isp-no-data-container .isp-content-heading-section .row {
            padding: 21px 20px 19px 0px;
            height: inherit;
            margin: 0px;
        }

        .people-root .isp-no-data-container .isp-content-heading-section .icon-fullscreen {
            float: left;
            width: 20px;
        }

        .people-root .isp-no-data-container .isp-content-heading-section .heading {
            line-height: 1.1;
            margin: 0px;
            padding: 0px;
            float:left;
        }

.people-root .width-90per {
    width: 90%;
}

.people-root .upload-text {
    font-weight: normal;
    position: absolute;
    top: 69px;
    left: 10%;
    text-align: center;
    color: #606060;
    font-size: 12px;
    color: #606060;
}

.people-root .upload-text:before {
    position: absolute;
    bottom: 25px;
    left: 35px;
    content: url(../images/upload.png);
    display:none;
}

.people-root img[src=""] + .upload-text:before {
    display: block;
}


.ps-import-card-holder-details .import-holder-form .fpPath {
    position: absolute;
    width: 277px;
    border: 0 none;
    height: 24px;
    top: 70px;
    left: 40px;
    pointer-events: none;
    background: #fff !important;
}

.ps-import-card-holder-details .import-holder-form .fpUpload {
    cursor: pointer;
    color: #333;
    width:45%;
    top: 90%
}
.ps-import-card-holder-details .import-holder-form .fpUpload input {
    left: -9999px;
    position: absolute;
}

.ps-import-card-holder-details .import-holder-form .inputuppercase {
    text-transform: uppercase;
}

.onebyone-carousel{
    overflow:auto;
    min-height: 101px;
}