		.field { 
			position:relative; 
			/*font-family: Arial; 
			font-weight:bold; */
			display:inline-block; 
		}
		label { 
			position:absolute; 
			left:0; 
			color:#999; 
			margin-left:14px;
			font-size:10px;
			-webkit-animation: expand 5s;
			transition: all 1s linear;
			top:13px;
			opacity: 1;
			transition-property:opacity;
		}

		/*@-webkit-keyframes expand{
		    0%{margin-top: 26px;}
		    100%{margin-top: 0px;}
		}*/
		input[type="text"],input[type="password"] { 

			border-style: none solid solid none;
			-webkit-appearance: none;
			box-shadow: none !important;
			
			border-radius: 0;  
			background-color: #ffffff;
		 }
		input[type="text"]:invalid + label ,input[type="password"]:invalid + label{ 
			/*top:3px;*/top:13px;border-right: 1px solid #bababb;opacity:0; 
		}
		input[type="text"]:valid + label ,input[type="password"]:valid + label { 
			opacity:1; top:13px; 
		}
		input[type="text"]:focus,input[type="password"]:focus { 
			outline:none; 
		}
		input[type="text"]:focus + label,input[type="password"]:focus + label { 
			color:#6F7074; 
		}
		
		input[type="text"],input[type="password"] {
		    border-bottom: 1px solid #D3D3D3;
		    border-radius: 0;
		    border-right: 1px solid #D3D3D3;
		    border-style: none solid solid none;
		    box-shadow: none !important;
		    color: #848588;
		   
		    font-size: 16px;
		    height: 51px;

		    /*padding: 24px 13px 10px !important;*/
		    max-width: 303px;
		    background-color:#FFFFFF;
		    border-color:#D3D3D3;
		    transition: all 0.5s linear;
		    
		   }
		input[type="text"]:focus, .formcontrol input:focus,input[type="password"]:focus {
		    border-color: #D3D3D3 !important;
		    border-style: none solid solid none !important;
		    
		}
		:focus {
		   outline-color: transparent;
		   outline-style: none;
		}
		.select-field label{
			display: none;
		}
		label {
		    border-style: none;
		    color: #6F7074;
		    font-size: 12px;
		    margin: 0;
		    margin-left:13px;
		    position: absolute;
		    width: auto;
		    top: 0px !important;
			font-family: 'Droid Sans',sans-serif;
		}
		.select-field{
			/*border-right:1px solid #bababb;
			border-bottom:1px solid #bababb;*/
			/*width:250px;*/
			line-height: 0px;
			position: relative;
		}
		select{
			padding: 19px 0px 16px 9px;
			color:#6F7074;
			font-size: 16px;
			border:0px;
			width: 249px;
		}

						label.on 
						{
						  color: #4481C4;
						}
						label.show 
						{
						  top: 15px !important;
						  opacity: 1 !important;
						  position: relative !important;						  
						  -webkit-animation: expand 5s;
						  transition: all 1s linear;
						  color: #6f7074;
						  opacity: 1 !important;
						  transition-property:opacity;
						  left:3px;
						  z-index: 2;

						}
						.show {
							display: block !important;
						}
						option
						{
						  color: black;
						}
						.watermark
						{
						  color: #aaa;
						}
						.selectize-control.single .selectize-input{
							height: 50px;
							border-color: #D3D3D3 !important;
							border-bottom: 1px solid #d3d3d3;
							border-right: 1px solid #d3d3d3;

						}
						
												


						.selectize-dropdown, .selectize-input, .selectize-control.single .selectize-input.dropdown-active{
							border-color: #D3D3D3 !important;
							/*border-bottom: 1px solid #d3d3d3;*/
							border-right: 1px solid #d3d3d3;
						}
						
						.selectize-control{
						width:303px !important;
	
}

