@import url("../Content/Styles/bootstrap/bootstrap.css");
@import url("../Content/Styles/bootstrap/bootstrap-responsive.css");
@import url("../Content/Styles/jquery/jquery.dropdown.css");
@import url("../ContentStyles//addon.css");
@import url("../Content/Styles/bootstrap-datetimepicker.css");
@import url("../Content/Styles/alertify.css");
@import url("../Content/Styles/accordion.css");
@import url("../Content/Styles/appicons.css");
@import url("../Content/Styles/bootstrap-select.css");
@import url("../Content/Styles/bootstrap-tagsinput.css");
@import url("../Content/Styles/checkbox.css");
@import url("../Content/Styles/checkbox-list.css");
@import url("../Content/Styles/configstyle.css");
@import url("../Content/Styles/controlstyles.css");
@import url("../Content/Styles/custom-bootstrap-datetimepicker.css");
@import url("../Content/Styles/default.css");
@import url("../Content/Styles/header.css");
@import url("../Content/Styles/icons.css");
@import url("../Content/Styles/ispcommon.css");
@import url("../Content/Styles/ispaccount.css");
@import url("../Content/Styles/jquery.webui-popover.min.css");
@import url("../Content/Styles/menu.css");
@import url("../Content/Styles/modal.css");
@import url("../Content/Styles/modal-confirm.css");
@import url("../Content/Styles/normalize.css");
@import url("../Content/Styles/radio.css");
@import url("../Content/Styles/selectize.css");
@import url("../Content/Styles/Site.css");
@import url("../Content/Styles/spinner.css");
@import url("../Content/Styles/timeout-dialog.css");
@import url("../Content/Styles/toastr.css");
@import url("../Content/Styles/webhelp.css");
@import url("../Content/fonts.css");
@import url("../Content/forms.css");
@import url("../Content/overlays.css");
@import url("../Content/simple-sidebar.css");


.dcm-root .listStickyHeader {
    font-family: 'HoneywellSansWeb-Medium' !important;
    color: #606060;
    font-size: 13px;
    padding: 6px 24px;
    background: #d0d0d0;
}

.dcm-root .dcmView .cardlistview .isppagetitle, .dcm-root .dcmView .listOverview .isppagetitle {
    font-family: 'HoneywellSansWeb-Bold' !important;
    color: #303030;
    margin-left: 25px;
    margin-right: 20px;
}

.dcm-root .dcmView .listOverview .isppagetitle {
    margin-left: 9px;
    margin-right: 24px;
}

.dcm-root  .selectController {
    width: 100%;
    padding: 15px 20px;
    border-top: 1px solid #e7e7e7;
}


.dcm-root .dcmView .checkbox {
    float: left;
}

    .dcm-root .dcmView .checkbox input[type="checkbox"], .dcm-root .dcmView .checkbox input[type="checkbox"] {
        opacity: 1 !important;
        margin-top: 0;
    }

.ispicon_door_default:before{
	background-position: -404px -105px;
    margin-left: 10px;
    margin-top: 10px;
}


/* additional styles */

.isptabs {
    /*margin: 24px;*/
}

    .isptabs .nav {
        border-bottom: 1px solid #dfdfdf;
    }

        .isptabs .nav li {
            font-family: "HoneywellSansWeb-Medium" !important;
        }

            .isptabs .nav li a {
                font-family: "HoneywellSansWeb-Medium" !important;
                font-size: 14px;
                color: #808080;
                background: transparent;
                border: none;
                outline: none;
                -webkit-box-sizing: none -moz-box-sizing:none;
                box-sizing: none;
            }

                .isptabs .nav li a:hover, .isptabs .nav li a:active, .isptabs .nav li a:focus {
                    border: none;
                }

            .isptabs .nav li.active a {
                font-family: "HoneywellSansWeb-Bold" !important;
                font-size: 14px;
                color: #303030;
                background: transparent;
                border-bottom: 4px solid #1792e5;
            }


.dcm-root .selectController {
    width: 100%;
    padding: 15px 20px;
    border-top: 1px solid #e7e7e7;
}

.dcm-root .areaListRow {
    border-radius: 0;
}

.dcm-root .listOverview {
    border-left: 1px solid #e7e7e7;
}

    .dcm-root .listOverview .headerTitle {
        font-family: 'HoneywellSansWeb-Bold' !important;
        color: #303030;
        margin-left: 20px;
    }


.cardlistview {
    padding: 0px;
    /*margin-left: -15px;*/
    /*border-right: 1px solid #e7e7e7;*/
}


.dcm-root .cardlistview .nav.nav-tabs {
    margin-left: 20px;
}


.dcm-root .cardlistview .list-group-item {
    border-radius: 0;
}

    .dcm-root .cardlistview .list-group-item.active, .dcm-root .cardlistview .list-group-item.active:hover, .dcm-root .cardlistview .list-group-item.active:focus, .dcm-root .cardlistview .list-group-item:hover {
        background-color: #e1eff9;
        color: #606060;
        border-color: #e7e7e7;
    }

.dcm-root .cardlistview .name {
    font-family: 'HoneywellSansWeb-Bold' !important;
    font-size: 15px;
    color: #303030;
}

.dcm-root .cardlistview .sensorsList {
    font-family: 'HoneywellSansWeb-Bold' !important;
    font-size: 14px;
    color: #808080;
}

.dcm-root .sensorsList > span + span {
    margin-left: 5px;
}



.dcm-root .listHeader {
    font-family: 'HoneywellSansWeb-Bold' !important;
    color: #303030;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 15px 0;
    margin: 0 15px 10px 15px;
    font-size: 18px;
    clear: both;
}

    .dcm-root .listHeader + hr {
        margin-bottom: 0;
        margin-top: 10px;
    }



.dcm-root .viewmode input,.dcm-root  .viewmode textarea {
    font-family: 'HoneywellSansWeb-Medium' !important;
    font-size: 14px;
    color: #606060;
    pointer-events: none;
}

.dcm-root .viewmode .btn-footer {
    display: none;
}

.dcm-root .btn-footer {
    margin-top: 10px;
    padding-top: 10px;
    left: -16px;
    background-color: #fff;
    border-color: #fff;
}

.dcm-root .bold {
    font-family: 'HoneywellSansWeb-Bold' !important;
}

.dcm-root .ispicon.inverse::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
    /*background-position-y: -39px;
    background-position-x: -139px;*/
    width: 24px;
    margin-top: 2px;
    margin-left: -25px;
    position: relative;
    left: 25px;
    top: 28px;
    height: 15px;
}

.dcm-root .cardlistview .listcount {
    background: #f2f2f2;
    margin-right: 0;
    padding: 4px 0px;
}


.dcm-root .listOverview .sensorsTab,.dcm-root .listOverview .settingsTab {
    max-height: 400px;
}

@media (max-width: 1366px) and (min-width: 1441px) {

    .dcm-root .listOverview .sensorsTab,.dcm-root .listOverview .settingsTab {
        max-height: 400px;
    }
}

@media screen and (min-width: 1920px) {

    .dcm-root .listOverview .sensorsTab, .dcm-root .listOverview .settingsTab {
        max-height: 804px;
    }
}

@media screen\0 {

    .dcm-root .ispicon.inverse::before {
        width: 20px;
        left: 24px;
        top: 43px;
    }
}



.dcm-root .ispheaderbar {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}


.accountcontainer .overview .content {
    background: 0 !important;
    box-shadow: none !important;
}

.dcm-root .viewmode input [type="checkbox"] {
    background: 0;
}

.dcm-root .settingsTab .form-group {
    padding-left: 0;
}


/* ICONS */

/* this is plugin specific code  will not be taken in common */
.ispicon_plus::before {
    background-position: -298px -21px;
    background-size: 780px;
}

.ispicon_plus:hover::before {
    background-position: -298px -42px;
}

.ispicon_plus:active::before {
    background-position: -298px -63px;
}

.ispicon_more::before {
    background-position: -573px -21px;
    background-size: 780px;
}

.ispicon_more:hover::before {
    background-position: -573px -42px;
}

.ispicon_more:active::before {
    background-position: -573px -63px;
}

.ispicon_collapse::before {
    background-position: -128px -24px;
    background-size: 780px;
}

.ispicon_collapse:hover::before {
    background-position: -128px -45px;
}

.ispicon_collapse:active::before {
    background-position: -128px -66px;
}

.ispicon_edit::before {
    background-position: -63px -148px;
    background-size: 780px;
}

.ispicon_edit:hover::before {
    background-position: -63px -169px;
}

.ispicon_edit:active::before {
    background-position: -63px -190px;
}


.ispicon::before {
    background-size: 700px;
    cursor: pointer;
}


.ispicon_views::before {
    background-position: -319px -21px;
    margin-right: 4px;
}
