#strength {
        display: inline-block;
        position: relative;
        color: #FF0000;
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
        float: right;
        top: -28px;
    }

        #strength .str-box {
            position: relative;
            border: 1px solid silver;
            width: 4px;
            height: 7px;
            display: inline-block;
        }

            #strength .str-box div {
                position: absolute;
                width: 0%;
                height: 100%;
                -moz-transition: 1s;
                -o-transition: 1s;
                -webkit-transition: 1s;
                transition: 1s;
            }

        #strength.short {
            color: #FF0000;
        }

            #strength.short .str-box.box1 div {
                background: #FF0000;
                width: 100%;
            }

        #strength.weak {
            color: #ffd153;
        }

            #strength.weak .str-box.box1 div {
                background: #ffd153;
                width: 100%;
            }

            #strength.weak .str-box.box2 div {
                background: #ffd153;
                width: 100%;
            }

        #strength.good {
            color: #45a8ea;
        }

            #strength.good .str-box.box1 div {
                background: #45a8ea;
                width: 100%;
            }

            #strength.good .str-box.box2 div {
                background: #45a8ea;
                width: 100%;
            }

            #strength.good .str-box.box3 div {
                background: #45a8ea;
                width: 100%;
            }

        #strength.strong {
            color: #7eb338;
        }

            #strength.strong .str-box.box1 div {
                background: #7eb338;
                width: 100%;
            }

            #strength.strong .str-box.box2 div {
                background: #7eb338;
                width: 100%;
            }

            #strength.strong .str-box.box3 div {
                background: #7eb338;
                width: 100%;
            }

            #strength.strong .str-box.box4 div {
                background: #7eb338;
                width: 100%;
            }

    .result {
        font-size: .8em;
        font-family: arial;
        width: auto;
        line-height: 1px;
        display: block;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        font-variant: small-caps;
    }