@import url("../Content/Styles/bootstrap/bootstrap.css");
@import url("../Content/Styles/bootstrap/bootstrap-responsive.css");
@import url("../Content/Styles/jquery/jquery.dropdown.css");
@import url("../ContentStyles/addon.css");
@import url("../Content/Styles/bootstrap-datetimepicker.css");
@import url("../Content/Styles/alertify.css");
/*@import url("../Content/Styles/accordion.css");*/
@import url("../Content/Styles/appicons.css");
@import url("../Content/Styles/bootstrap-select.css");
@import url("../Content/Styles/bootstrap-tagsinput.css");
@import url("../Content/Styles/checkbox.css");
@import url("../Content/Styles/checkbox-list.css");
@import url("../Content/Styles/configstyle.css");
@import url("../Content/Styles/controlstyles.css");
@import url("../Content/Styles/custom-bootstrap-datetimepicker.css");
@import url("../Content/Styles/default.css");
@import url("../Content/Styles/header.css");
@import url("../Content/Styles/icons.css");
@import url("../Content/Styles/ispcommon.css");
/*@import url("../Content/Styles/ispaccount.css");*/
@import url("../Content/Styles/jquery.webui-popover.min.css");
@import url("../Content/Styles/menu.css");
@import url("../Content/Styles/modal.css");
@import url("../Content/Styles/modal-confirm.css");
@import url("../Content/Styles/normalize.css");
@import url("../Content/Styles/radio.css");
@import url("../Content/Styles/selectize.css");
@import url("../Content/Styles/Site.css");
@import url("../Content/Styles/spinner.css");
@import url("../Content/Styles/timeout-dialog.css");
@import url("../Content/Styles/toastr.css");
@import url("../Content/Styles/webhelp.css");
/*@import url("../Content/fonts.css");*/
@import url("../Content/forms.css");
@import url("../Content/overlays.css");
/*@import url("../Content/simple-sidebar.css");*/
@import url("../Content/AccordionPlugin/accordion.css");
@import url("../Content/AccountMgmtPlugin/customerlist.css");
@import url("../Content/AccountMgmtPlugin/ispaccount.css");
@import url("../Content/PeopleMgmtPlugin/ispInstrusion.css");
@import url("../Content/PeopleMgmtPlugin/ispPeopleMgmt.css");
/*@import url("../Content/SchdHoldPluginCSS/ispPeopleMgmt.css");*/

.schedule-root .isptabs {
    /*margin: 24px;*/
}

    .schedule-root .isptabs .nav {
        border-bottom: 1px solid #dfdfdf;
    }

        .schedule-root .isptabs .nav li {
            font-family: "HoneywellSansWeb-Medium" !important;
        }

            .schedule-root .isptabs .nav li a {
                font-family: "HoneywellSansWeb-Medium" !important;
                font-size: 14px;
                color: #808080;
                background: transparent;
                border: none;
                outline: none;
                -webkit-box-sizing: none -moz-box-sizing:none;
                box-sizing: none;
            }

                .schedule-root .isptabs .nav li a:hover, .schedule-root .isptabs .nav li a:active, .schedule-root .isptabs .nav li a:focus {
                    border: none;
                }

            .schedule-root .isptabs .nav li.active a {
                font-family: "HoneywellSansWeb-Bold" !important;
                font-size: 14px;
                color: #303030;
                background: transparent;
                border-bottom: 4px solid #1792e5;
            }

.schedule-root .cardlistview {
    padding: 0px;
    /*margin-left: -15px;*/
    /*border-right: 1px solid #e7e7e7;*/
}

    .schedule-root .cardlistview .list-group-item {
        border-radius: 0;
    }

    .schedule-root .cardlistview .nav.nav-tabs {
        margin-left: 20px;
    }

.schedule-root .listOverview {
    border-left: 1px solid #e7e7e7;
}

    .schedule-root .listOverview .headerTitle {
        font-family: 'HoneywellSansWeb-Bold' !important;
        color: #303030;
        margin-left: 20px;
    }

.schedule-root .cardlistview .listcount {
    background: #f2f2f2;
    margin-right: 0;
    padding: 4px 0px;
}

.schedule-root .listOverview .overviewTab, .listOverview .settingsTab {
    max-height: 400px;
}


.schedule-root .cardlistview .list-group-item.active:hover,
.schedule-root .cardlistview .list-group-item.active:focus,
.schedule-root .cardlistview .list-group-item:hover {
    background-color: #f5f5f5;
    color: #606060;
    border-color: #e7e7e7;
}

.schedule-root .cardlistview .list-group-item.active{
    background-color: rgba(185,221,243,.3);
    color: #606060;
    border-color: #e7e7e7;
}

.schedule-root .cardlistview .name {
    font-family: 'HoneywellSansWeb-Bold' !important;
    font-size: 15px;
    color: #303030;
}

.schedule-root .cardlistview .controllerList {
    font-family: 'HoneywellSansWeb-Bold' !important;
    font-size: 14px;
    color: #808080;
}

.schedule-root .scheduleView .overviewTab .table > thead > tr > th, .addSchedule .table > thead > tr > th {
    border-bottom: 0 none;
}

.addSchedule table td {
    border-top: 1px solid #e7e7e7 !important;
}

.schedule-root .scheduleView .overviewTab span.name {
    font-family: 'HoneywellSansWeb-Bold' !important;
    color: #1792e5;
    font-size: 14px;
}

.schedule-root .scheduleView .overviewTab span.sensorsid {
    font-family: 'HoneywellSansWeb-Medium' !important;
    color: #606060;
    font-size: 12px;
    text-transform: uppercase;
}

.schedule-root .scheduleView .overviewTab table th {
    font-family: 'HoneywellSansWeb-Bold' !important;
    font-size: 14px;
}

.schedule-root .addSchedule .overviewTab table td, .schedule-root .scheduleView .overviewTab table td span {
    font-family: 'HoneywellSansWeb-Medium' !important;
    font-size: 14px;
}

.schedule-root .scheduleView .overviewTab .ispicon, .addSchedule .ispicon {
    margin-top: 10px;
}

.schedule-root .addSchedule .overviewTab .sensorsid, .schedule-root .addSchedule .overviewTab .name,
.schedule-root .addSchedule .name, .addSchedule .sensorsid {
    margin-left: 10px;
}

.schedule-root .scheduleView .overviewTab .ispicon_collapse {
    margin-left: 15px;
}

.schedule-root .scheduleView .table td {
    border-top: 1px solid #f0f0f0 !important;
}

.schedule-root .scheduleView .cardlistview .isppagetitle, .schedule-root .scheduleView .listOverview .isppagetitle .sectionHead1{
    font-family: 'HoneywellSansWeb-Bold' !important;
    color: #303030;
    margin-left: 16px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.schedule-root .scheduleView .listOverview .isppagetitle {
    margin-left: 6px;
    margin-right: 24px;
        border-bottom: 1px solid #e7e7e7;
    padding-bottom: 19px;
}

.schedule-root .scheduleView .list-group-item {
    padding: 10px 20px;
}

.scheduleList > span + span {
    margin-left: 5px;
}

.schedule-root .scheduleView .checkbox {
    float: left;
}

    .schedule-root .scheduleView .checkbox input[type="checkbox"], .addSchedule .checkbox input[type="checkbox"] {
        opacity: 1 !important;
        margin-top: 0;
    }

.schedule-root .addSchedule .modal-dialog {
    width: 700px;
    padding-top: 10px;
}

.schedule-root .addSchedule.ispmodal {
    left: 0 !important;
}

.schedule-root .listHeader {
    font-family: 'HoneywellSansWeb-Bold' !important;
    color: #303030;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 15px 0;
    margin: 0 15px 10px 15px;
    font-size: 18px;
    clear: both;
}

    .schedule-root .listHeader + hr {
        margin-bottom: 0;
        margin-top: 10px;
    }

.schedule-root .addSchedule .panel-body {
    padding: 5px 15px 0 15px;
}

.schedule-root .btn-group button.moveArea {
    margin-left: 10px !important;
}

.viewmode input, .viewmode textarea, .viewmode select{
    font-family: 'HoneywellSansWeb-Medium' !important;
    font-size: 14px;
    color: #606060;
    pointer-events: none;
}

.viewmode .btn-footer {
    display: none;
}

.btn-footer {
    margin-top: 10px;
    padding-top: 10px;
    left: -16px;
    background-color: #fff;
    border-color: #fff;
}

.bold {
    font-family: 'HoneywellSansWeb-Bold' !important;
}


@media (max-width: 1366px) and (min-width: 1441px) {

    .listOverview .overviewTab, .listOverview .settingsTab {
        max-height: 400px;
    }
}

@media screen and (min-width: 1920px) {

    .listOverview .overviewTab, .listOverview .settingsTab {
        max-height: 804px;
    }
}

@media screen\0 {

    .ispicon.inverse::before {
        width: 20px;
        left: 24px;
        top: 43px;
    }
}

.ispheaderbar {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}

.schedule-root .scheduleView .checkbox label::before {
    display: none;
}

.accountcontainer .overview .content {
    background: 0 !important;
    box-shadow: none !important;
}

.viewmode input [type="checkbox"] {
    background: 0;
}



.ispActionMenu:hover {
    color: #1792e5;
}

.ispActionMenu:active {
    color: #1272b2;
}
/*
.ispActionMenu:hover .ispicon_filter::before, .ispActionMenu.open .ispicon_filter::before {
    background-position: -362px -42px;
    color: #1792e5;
}

.ispActionMenu:active .ispicon_filter::before {
    background-position: -362px -63px;
    color: #1272b2;
}

.ispicon_views::before {
    background-position: -319px -21px;
    margin-right: 4px;
}

.ispActionMenu:hover .ispicon_views::before, .ispActionMenu.open .ispicon_views::before {
    background-position: -319px -42px;
    color: #1792e5;
}

.ispActionMenu:active .ispicon_views::before {
    background-position: -319px -63px;
    color: #1272b2;
}

.ispicon_action::before {
    background-position: -382px -21px;
}

.ispActionMenu:hover .ispicon_action::before, .ispActionMenu.open .ispicon_action::before {
    background-position: -382px -42px;
    color: #1792e5;
}

.ispActionMenu:active .ispicon_action::before {
    background-position: -382px -63px;
    color: #1272b2;
}

.ispicon_sort::before {
    background-position: -340px -21px;
}

.ispActionMenu:hover .ispicon_sort::before, .ispActionMenu.open .ispicon_sort::before {
    background-position: -340px -42px;
    color: #1792e5;
}

.ispActionMenu:active .ispicon_sort::before {
    background-position: -340px -63px;
    color: #1272b2;
}

.ispicon_saveFilter::before {
    background-position: -22px -149px;
    margin-right: 3px;
}

.ispActionMenu:hover .ispicon_saveFilter::before, .ispActionMenu.open .ispicon_saveFilter::before {
    background-position: -22px -170px;
    color: #1792e5;
}

.ispActionMenu:active .ispicon_saveFilter::before {
    background-position: -22px -191px;
    color: #1272b2;
}

.ispicon_alarmsCritical::before {
    background-position: -425px -21px;
}

.ispicon_alarmsMajor::before {
    background-position: -425px -42px;
}

.ispicon_alarmsModerate::before {
    background-position: -425px -63px;
}

.ispicon_alarmsDefault:before {
    background-position: -64px -21px;
}

.ispicon_cloudDefault::before {
    background-position: -446px -21px;
}

.ispicon_cloudModerate::before {
    background-position: -446px -42px;
}

.ispicon_cloudMajor::before {
    background-position: -446px -63px;
}

.ispicon_cloudCritical::before {
    background-position: -446px -84px;
}

.ispicon_cloudConnModerate::before {
    background-position: -446px -84px;
}

.ispicon_cloudConnCritical::before {
    background-position: -446px -84px;
}

.ispicon_cloudConnDefault::before {
    background-position: -446px -105px;
}

.ispicon_DoorDefault::before {
    background-position: -615px -21px;
}

.ispicon_DoorModerate::before {
    background-position: -615px -42px;
}

.ispicon_DoorMajor::before {
    background-position: -615px -63px;
}

.ispicon_DoorCritical::before {
    background-position: -615px -84px;
}

.ispicon_video::before {
    background-position: -404px -21px;
}

.ispicon_video:hover::before {
    background-position: -404px -42px;
}

.ispicon_video:active::before {
    background-position: -404px -63px;
}

.ispicon_videoModerate::before {
    background-position: -404px -84px;
}

.ispicon_videoCritical::before {
    background-position: -404px -105px;
}

.ispicon_videoMajor::before {
    background-position: -404px -126px;
}

.ispicon_disarmDefault::before {
    background-position: -660px -21px;
}

.ispicon_disarmModerate::before {
    background-position: -660px -42px;
}

.ispicon_disarmMajor::before {
    background-position: -660px -63px;
}

.ispicon_disarmCritical::before {
    background-position: -660px -84px;
}

.ispicon_armDefault::before {
    background-position: -680px -21px;
}

.ispicon_armModerate::before {
    background-position: -680px -42px;
}

.ispicon_armCritical::before {
    background-position: -680px -63px;
}

.ispicon_armMajor::before {
    background-position: -680px -84px;
}

.ispicon_floorPlan::before {
    background-position: -489px -21px;
    margin-right: 4px;
}

.ispicon_floorPlan:hover::before {
    background-position: -489px -42px;
    margin-right: 4px;
}

.ispicon_floorPlan:active::before {
    background-position: -489px -63px;
    margin-right: 4px;
}

.ispicon_dropArrow::before {
    background-position: -191px -21px;
    margin-top: 3px;
}

.ispicon_dropArrow:hover::before {
    background-position: -191px -21px;
    margin-top: 3px;
}

.ispicon_acknowledged::before {
    background-position: -276px -42px;
}

.ispicon_acknowledgeAll::before {
    background-position: -466px -21px;
    margin-right: 5px;
}

.schedule-root .acknowledgeAll:hover .ispicon_acknowledgeAll::before, .acknowledgeAll:hover {
    background-position: -466px -42px;
    color: #1792e5;
}

.schedule-root .acknowledgeAll:active .ispicon_acknowledgeAll::before, .acknowledgeAll:active {
    background-position: -466px -63px;
    color: #1272b2;
}

.ispicon_handbar::before {
    background-position: -64px -125px;
}

.ispicon_handbar:hover::before {
    background-position: -42px -105px;
}

.ispicon_close::before {
    background-position: -255px -21px;
}

.ispicon_close:hover::before {
    background-position: -255px -42px;
}

.ispicon_close:active::before {
    background-position: -255px -63px;
}*/


.schedule-root .inputuppercase {
    text-transform: uppercase;
}

.schedule-root .disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}


.schedule-root .btn-default {
    background-color: #ffffff !important;
    border: 1px solid #d0d0d0 !important;
    color: #ccc !important;
}

/* NEW ADDITION 24-08-2016*/
.schedule-root .scheduleView .btn-group .btn + .btn {
    margin-left: 8px !important;
}

.schedule-root .scheduleView .btn-footer {
    position: absolute;
    bottom: 0;
    right: -15px;
    border-top: 1px solid #ccc;
    left: 0;
    padding: 10px 30px 10px 10px;
}

.schedule-root .scheduleOverview {
    position: absolute;
    right: 15px;
    bottom: 0;
    top: 0px;
}

/* CONTROLLER OVERVVIEW*/

.schedule-root .scheduleOverview .content {
            padding: 0 10px;
            /*margin-left: -15px !important;*/
            background: #f4f4f4;
            padding-right: 24px;
            box-shadow: 0 -1px 0 0 #d6d6d6;
        }


.schedule-root .scheduleOverview .leftlist .panel ul .list-group-item.active, .ControllerOverview .leftlist .panel ul.list-group-item.active:hover, .ControllerOverview .leftlist .panel ul li.list-group-item.active:focus {
        background: #e1eff9;
        color: #606060;
        font-size: 14px;
        font-family: 'HoneywellSansWeb-Medium' !important;
    }

.schedule-root .scheduleOverview .leftlist .panel ul .list-group-item .ispicon.ispicon_downarrow {
        margin-right: 0px;
    }

@media (max-height: 768px) {
    .schedule-root .addnewaccount {
        max-height: 330px;
        width: 100%;
    }
    .schedule-root .ControllerOverview .overview .content {
        width: 98%;
        max-height: 520px;
    }
}

.schedule-root .schedulelists{
    position: absolute;
    top: 127px;
    overflow: scroll;
    bottom: 0px;
    min-height: 364%;
    width: 100%;
    border-top: 1px solid #d0d0d0;
}

.schedule-root .addonbutton{
    top:30px;
    right: 18px;
}

.schedule-root .contentContainer {
    position: absolute;
    right: 0;
    bottom: 53px;
    top: 76px;
    /*left: 5px;*/
    overflow-y: auto;
        padding-left: 5px;
}

.padding-correction{
    padding-left: 10px;
}

.padding-correction-searchbox{
            padding-right: 0 !important;
}
    

.schedule-root .form-group{
    margin-bottom: 14px;
}

.schedule-root hr{
    margin-bottom: 24px;
}