.sitelistpopup .modal-header .modal-title {
    font-family: 'HoneywellSansWeb-Medium' !important;
    font-size: 24px;
    color: #101010;
}

.sitelistpopup .modal-header {
    padding: 28px 20px 0px 33px;
}

.sitelistpopup .modal-body {
    padding: 0px 20px 0 32px;
    position: relative;
    overflow: auto;
    max-height: 300px;
    margin-top: 16px;
}