<div class="row content">
    <div class="col-md-12 col-lg-12 pad-l20 pad-t20">
        <div class="row pad-b10">
            <div class="col-md-12 col-b15">Record On:</div>
        </div>
        <div class="row">
            <div class="checkbox  col-md-12">
                <label class="formControl-checkbox">
                    <input id="" name="" type="checkbox" value="0" />
                    <span></span>
                    <legand>Event recording 1</legand>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="checkbox  col-md-12">
                <label class="formControl-checkbox">
                    <input id="" name="" type="checkbox" value="0" />
                    <span></span>
                    <legand>Event recording 2</legand>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="checkbox  col-md-12">
                <label class="formControl-checkbox">
                    <input id="" name="" type="checkbox" value="0" />
                    <span></span>
                    <legand>Event recording 3</legand>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="checkbox  col-md-12">
                <label class="formControl-checkbox">
                    <input id="" name="" type="checkbox" value="0" />
                    <span></span>
                    <legand>Event recording 4</legand>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="checkbox  col-md-12">
                <label class="formControl-checkbox">
                    <input id="" name="" type="checkbox" value="0" />
                    <span></span>
                    <legand>Event recording 5</legand>
                </label>
            </div>
        </div>
    </div>
</div>