<div class="row content">
    <div class="col-lg-12 col-md-12 pad-l20 pad-t20">
        <div class="row pad-b20">
            <h3 class="s4">500 / 1024 GB</h3>
            <div class="progressLoading clear mar-t10">
                <div class="progress ispprogress col-lg-7 col-md-7">
                    <div class="progress-bar progress-bar-striped active pink" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <button class="btn btn-primary mar-t20">Erase</button>
            </div>
        </div>
    </div>
</div>