<div class="row content">
    <div class="pad-l20">
        <div class="row pad-t20">
            <div class="checkbox  col-md-12">
                <label class="formControl-checkbox">
                    <input id="" name="" type="checkbox" value="0" />
                    <span></span>
                    <legand>Enable Offsite Motion Recording</legand>
                </label>
            </div>
        </div>

        <div class="isptablebase">
            <div>
                <div class="isptable">
                    <table>
                        <thead>
                            <tr>
                                <th><div label="Name" class="sort"></div></th>
                                <th><div label="Description"></div></th>
                                <th></th>
                                <th class="scrollbarhead"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="name" data-bind="text:customerName">Name</span><br /></td>
                                <td><span>Description</span></td>
                                <td><i class="ispicon ispicon_edit" data-toggle="modal" data-target="#addSchedule" title="Time Schedule"></i></td>
                                <td style="display:none"><span class="name">1c62841a-3cc1-e611-80ef-005056a641c6</span></td>
                            </tr>
                            <tr>
                                <td><span class="name" data-bind="text:customerName">Name</span><br /></td>
                                <td><span>Description</span></td>
                                <td><i class="ispicon ispicon_edit" data-toggle="modal" data-target="#addSchedule" title="Time Schedule"></i></td>
                                <td style="display:none"><span class="name">1c62841a-3cc1-e611-80ef-005056a641c6</span></td>
                            </tr>
                            <tr>
                                <td><span class="name" data-bind="text:customerName">Name</span><br /></td>
                                <td><span>Description</span></td>
                                <td><i class="ispicon ispicon_edit" data-toggle="modal" data-target="#addSchedule" title="Time Schedule"></i></td>
                                <td style="display:none"><span class="name">1c62841a-3cc1-e611-80ef-005056a641c6</span></td>
                            </tr>
                            <tr>
                                <td><span class="name" data-bind="text:customerName">Name</span><br /></td>
                                <td><span>Description</span></td>
                                <td><i class="ispicon ispicon_edit" data-toggle="modal" data-target="#addSchedule" title="Time Schedule"></i></td>
                                <td style="display:none"><span class="name">1c62841a-3cc1-e611-80ef-005056a641c6</span></td>
                            </tr>
                            <tr>
                                <td><span class="name" data-bind="text:customerName">Name</span><br /></td>
                                <td><span>Description</span></td>
                                <td><i class="ispicon ispicon_edit" data-toggle="modal" data-target="#addSchedule" title="Time Schedule"></i></td>
                                <td style="display:none"><span class="name">1c62841a-3cc1-e611-80ef-005056a641c6</span></td>
                            </tr>
                            <tr>
                                <td><span class="name" data-bind="text:customerName">Name</span><br /></td>
                                <td><span>Description</span></td>
                                <td><i class="ispicon ispicon_edit" data-toggle="modal" data-target="#addSchedule" title="Time Schedule"></i></td>
                                <td style="display:none"><span class="name">1c62841a-3cc1-e611-80ef-005056a641c6</span></td>
                            </tr>
                            <tr>
                                <td><span class="name" data-bind="text:customerName">Name</span><br /></td>
                                <td><span>Description</span></td>
                                <td><i class="ispicon ispicon_edit" data-toggle="modal" data-target="#addSchedule" title="Time Schedule"></i></td>
                                <td style="display:none"><span class="name">1c62841a-3cc1-e611-80ef-005056a641c6</span></td>
                            </tr>
                            <tr>
                                <td><span class="name" data-bind="text:customerName">Name</span><br /></td>
                                <td><span>Description</span></td>
                                <td><i class="ispicon ispicon_edit" data-toggle="modal" data-target="#addSchedule" title="Time Schedule"></i></td>
                                <td style="display:none"><span class="name">1c62841a-3cc1-e611-80ef-005056a641c6</span></td>
                            </tr>
                            <tr>
                                <td><span class="name" data-bind="text:customerName">Name</span><br /></td>
                                <td><span>Description</span></td>
                                <td><i class="ispicon ispicon_edit" data-toggle="modal" data-target="#addSchedule" title="Time Schedule"></i></td>
                                <td style="display:none"><span class="name">1c62841a-3cc1-e611-80ef-005056a641c6</span></td>
                            </tr>
                            <tr>
                                <td><span class="name" data-bind="text:customerName">Name</span><br /></td>
                                <td><span>Description</span></td>
                                <td><i class="ispicon ispicon_edit" data-toggle="modal" data-target="#addSchedule" title="Time Schedule"></i></td>
                                <td style="display:none"><span class="name">1c62841a-3cc1-e611-80ef-005056a641c6</span></td>
                            </tr>
                            <tr>
                                <td><span class="name" data-bind="text:customerName">Name</span><br /></td>
                                <td><span>Description</span></td>
                                <td><i class="ispicon ispicon_edit" data-toggle="modal" data-target="#addSchedule" title="Time Schedule"></i></td>
                                <td style="display:none"><span class="name">1c62841a-3cc1-e611-80ef-005056a641c6</span></td>
                            </tr>
                            <tr>
                                <td><span class="name" data-bind="text:customerName">Name</span><br /></td>
                                <td><span>Description</span></td>
                                <td><i class="ispicon ispicon_edit" data-toggle="modal" data-target="#addSchedule" title="Time Schedule"></i></td>
                                <td style="display:none"><span class="name">1c62841a-3cc1-e611-80ef-005056a641c6</span></td>
                            </tr>
                            <tr>
                                <td><span class="name" data-bind="text:customerName">Name</span><br /></td>
                                <td><span>Description</span></td>
                                <td><i class="ispicon ispicon_edit" data-toggle="modal" data-target="#addSchedule" title="Time Schedule"></i></td>
                                <td style="display:none"><span class="name">1c62841a-3cc1-e611-80ef-005056a641c6</span></td>
                            </tr>
                            <tr>
                                <td><span class="name" data-bind="text:customerName">Name</span><br /></td>
                                <td><span>Description</span></td>
                                <td><i class="ispicon ispicon_edit" data-toggle="modal" data-target="#addSchedule" title="Time Schedule"></i></td>
                                <td style="display:none"><span class="name">1c62841a-3cc1-e611-80ef-005056a641c6</span></td>
                            </tr>
                            <tr>
                                <td><span class="name" data-bind="text:customerName">Name</span><br /></td>
                                <td><span>Description</span></td>
                                <td><i class="ispicon ispicon_edit" data-toggle="modal" data-target="#addSchedule" title="Time Schedule"></i></td>
                                <td style="display:none"><span class="name">1c62841a-3cc1-e611-80ef-005056a641c6</span></td>
                            </tr>
                            <tr>
                                <td><span class="name" data-bind="text:customerName">Name</span><br /></td>
                                <td><span>Description</span></td>
                                <td><i class="ispicon ispicon_edit" data-toggle="modal" data-target="#addSchedule" title="Time Schedule"></i></td>
                                <td style="display:none"><span class="name">1c62841a-3cc1-e611-80ef-005056a641c6</span></td>
                            </tr>
                            <tr>
                                <td><span class="name" data-bind="text:customerName">Name</span><br /></td>
                                <td><span>Description</span></td>
                                <td><i class="ispicon ispicon_edit" data-toggle="modal" data-target="#addSchedule" title="Time Schedule"></i></td>
                                <td style="display:none"><span class="name">1c62841a-3cc1-e611-80ef-005056a641c6</span></td>
                            </tr>
                            <tr>
                                <td><span class="name" data-bind="text:customerName">Name</span><br /></td>
                                <td><span>Description</span></td>
                                <td><i class="ispicon ispicon_edit" data-toggle="modal" data-target="#addSchedule" title="Time Schedule"></i></td>
                                <td style="display:none"><span class="name">1c62841a-3cc1-e611-80ef-005056a641c6</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>