<div class="dahuaiowrapper-container">
    <div class="row">
        <h3 class="bold">Inputs</h3>
        <div class="content">
            <div class="event_card_background">
                <div class="isptablebase">
                    <div>
                        <div class="isptable">
                            <table class="table header_tableevent event_card_table_content">
                                <thead>
                                    <tr>
                                        <th><div label="Name"></div></th>
                                        <th><div label="Enable"></div></th>
                                        <th><div label="Trigger"></div></th>
                                        <th><div label="Test Output"></div></th>
                                        <th class="scrollbarhead"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" name="input1" id="input1" class="form-control" value="Input1" required="required" pattern="" title="" /></td>
                                        <td>
                                            <div class="checkbox  col-md-12">
                                                <label class="formControl-checkbox">
                                                    <input id="" name="" type="checkbox" value="0" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td><span class="ioTriggerStatus"><span class="statusDot online"></span> <span class="txt">Online</span></span></td>
                                        <td>
                                            <div class="checkbox  col-md-12">
                                                <label class="formControl-checkbox">
                                                    <input id="" name="" type="checkbox" value="0" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="input2" id="input2" class="form-control" value="Input2" required="required" pattern="" title="" /></td>
                                        <td>
                                            <div class="checkbox  col-md-12">
                                                <label class="formControl-checkbox">
                                                    <input id="" name="" type="checkbox" value="0" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td><span class="ioTriggerStatus"><span class="statusDot offline"></span> <span class="txt">Offline</span></span></td>
                                        <td>
                                            <div class="checkbox  col-md-12">
                                                <label class="formControl-checkbox">
                                                    <input id="" name="" type="checkbox" value="0" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="input1" id="input1" class="form-control" value="Input1" required="required" pattern="" title="" /></td>
                                        <td>
                                            <div class="checkbox  col-md-12">
                                                <label class="formControl-checkbox">
                                                    <input id="" name="" type="checkbox" value="0" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td><span class="ioTriggerStatus"><span class="statusDot online"></span> <span class="txt">Online</span></span></td>
                                        <td>
                                            <div class="checkbox  col-md-12">
                                                <label class="formControl-checkbox">
                                                    <input id="" name="" type="checkbox" value="0" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="input2" id="input2" class="form-control" value="Input2" required="required" pattern="" title="" /></td>
                                        <td>
                                            <div class="checkbox  col-md-12">
                                                <label class="formControl-checkbox">
                                                    <input id="" name="" type="checkbox" value="0" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td><span class="ioTriggerStatus"><span class="statusDot offline"></span> <span class="txt">Offline</span></span></td>
                                        <td>
                                            <div class="checkbox  col-md-12">
                                                <label class="formControl-checkbox">
                                                    <input id="" name="" type="checkbox" value="0" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h3 class="bold">Outputs</h3>
        <div class="content">
            <div class="event_card_background">
                <div class="isptablebase">
                    <div>
                        <div class="isptable">
                            <table>
                                <thead>
                                    <tr>
                                        <th><div label="Name"></div></th>
                                        <th><div label="Enable"></div></th>
                                        <th><div label="Duration"></div></th>
                                        <th><div label="Trigger"></div></th>
                                        <th><div label="VMD"></div></th>
                                        <th><div label="Test Output"></div></th>
                                        <th class="scrollbarhead"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" name="" id="output1" class="form-control" value="Output1" required="required" pattern="" title="" /></td>
                                        <td>
                                            <div class="checkbox  col-md-12">
                                                <label class="formControl-checkbox">
                                                    <input id="" name="" type="checkbox" value="0" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td><select class="form-control selectbox" id="" name=""><option>1</option><option>2</option><option>3</option></select></td>
                                        <td><select class="form-control selectbox" id="" name=""><option>1</option><option>2</option><option>3</option></select></td>
                                        <td><select class="form-control selectbox" id="" name=""><option>1</option><option>2</option><option>3</option></select></td>
                                        <td>
                                            <div class="checkbox  col-md-12">
                                                <label class="formControl-checkbox">
                                                    <input id="" name="" type="checkbox" value="0" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="" id="output2" class="form-control" value="Output2" required="required" pattern="" title="" /></td>
                                        <td>
                                            <div class="checkbox  col-md-12">
                                                <label class="formControl-checkbox">
                                                    <input id="" name="" type="checkbox" value="0" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td><select class="form-control selectbox" id="" name=""><option>1</option><option>2</option><option>3</option></select></td>
                                        <td><select class="form-control selectbox" id="" name=""><option>1</option><option>2</option><option>3</option></select></td>
                                        <td><select class="form-control selectbox" id="" name=""><option>1</option><option>2</option><option>3</option></select></td>
                                        <td>
                                            <div class="checkbox  col-md-12">
                                                <label class="formControl-checkbox">
                                                    <input id="" name="" type="checkbox" value="0" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="" id="output1" class="form-control" value="Output1" required="required" pattern="" title="" /></td>
                                        <td>
                                            <div class="checkbox  col-md-12">
                                                <label class="formControl-checkbox">
                                                    <input id="" name="" type="checkbox" value="0" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td><select class="form-control selectbox" id="" name=""><option>1</option><option>2</option><option>3</option></select></td>
                                        <td><select class="form-control selectbox" id="" name=""><option>1</option><option>2</option><option>3</option></select></td>
                                        <td><select class="form-control selectbox" id="" name=""><option>1</option><option>2</option><option>3</option></select></td>
                                        <td>
                                            <div class="checkbox  col-md-12">
                                                <label class="formControl-checkbox">
                                                    <input id="" name="" type="checkbox" value="0" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="" id="output2" class="form-control" value="Output2" required="required" pattern="" title="" /></td>
                                        <td>
                                            <div class="checkbox  col-md-12">
                                                <label class="formControl-checkbox">
                                                    <input id="" name="" type="checkbox" value="0" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td><select class="form-control selectbox" id="" name=""><option>1</option><option>2</option><option>3</option></select></td>
                                        <td><select class="form-control selectbox" id="" name=""><option>1</option><option>2</option><option>3</option></select></td>
                                        <td><select class="form-control selectbox" id="" name=""><option>1</option><option>2</option><option>3</option></select></td>
                                        <td>
                                            <div class="checkbox  col-md-12">
                                                <label class="formControl-checkbox">
                                                    <input id="" name="" type="checkbox" value="0" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>