.cardlist-group-horizontal .list-group-item {
    display: inline-block;
    float: left;
    padding: 12px 19px 10px 19px;
}

.cardlist-group-horizontal .list-group-item {
    margin-bottom: 0;
    margin-left: -4px;
    margin-right: 0;
}

    .cardlist-group-horizontal .list-group-item:first-child {
        border-top-right-radius: 0;
        border-bottom-left-radius: 4px;
    }

    .cardlist-group-horizontal .list-group-item:last-child {
        border-top-right-radius: 4px;
        border-bottom-left-radius: 0;
    }

    .ControllerOverview .content.controllerOverviewReport{
        bottom: initial;
    }
