<link href="~/Content/PeopleMgmtPlugin/cards.css" rel="stylesheet" />
<div class="card-root">
    <!-- <link href="~/Content/AccountMgmtPlugin/alarms.css" rel="stylesheet" /> -->
    <div id="card-view" class="cardView">
        <!-- LIST VIEW-->
        <div class="col-md-3 col-lg-3 cardlistview isptabs">
            <span class="ispicon ispicon_collapse inverse pull-left"></span>
            <h2 class="isppagetitle">
                Cards
                <span class="pull-right">
                    <a class="ispicon ispicon_plus dropdown-toggle" data-toggle="dropdown"  title="Add New">


                    </a>
                     <ul class="dropdown-menu ispmenu rightalign">
                        <li><a href="#">Single</a></li>
                        <li><a href="#">Import</a></li>
                    </ul>

                    <a class="ispicon ispicon_delete " title="Delete">

                    </a>
                   
                </span>
            </h2>
            <div class="col-md-12 ispheadersearch">

                <form>
                    <div class="row pull-left">
                        <div class="input-group">
                            <div class="input-group-btn search-panel">
                                <button type="button" class="btn btn-default dropdown-toggle padding-correction-searchbox" data-toggle="dropdown" aria-expanded="false">
                                    <span id="search_concept">
                                        <span class="ispicon ispicon_search card_view_search_icon"></span>
                                    </span>
                                </button>
                                <!--    <ul class="dropdown-menu ispmenu" role="menu">
                                     <li><a href="#contains">Contains</a></li>
                                     <li><a href="#its_equal">It's equal</a></li>
                                     <li><a href="#greather_than">Greather than &gt;</a></li>
                                     <li><a href="#less_than">Less than &lt; </a></li>
                                     <li><a href="#all">Anything</a></li>
                                   </ul> -->
                            </div>
                            <input type="text" class="form-control ispsearch" name="x" placeholder="Search...">
                            <!-- <span class="input-group-btn ">
                                <button class="btn btn-default searchbtn" type="button"><span class="ispicon ispicon_filter"></span></button>
                            </span> -->
                            <!--  <span class="input-group-btn">
                                 <button class="btn btn-default padding-correction" type="button"><span id="sorting" class="ispicon ispicon_sort"></span></button>
                             </span> -->
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle padding-correction" data-toggle="dropdown" aria-expanded="false"><span class="ispicon ispicon_sortasc"></span></button>
                                <ul class="dropdown-menu ispmenu" role="menu">
                                    <li>
                                        <a href="#">Ascending</a>
                                    </li>
                                    <li>
                                        <a href="#">Descending</a>
                                    </li>
                                    <li>
                                        <a href="#">Recently Added</a>
                                    </li>
                                </ul>


                            </span>
                           
                        </div>
                    </div>

                </form>
            </div>
            <div>
                <div class="listStickyHeader">
                    <b class="bold">10 <span>Unassigned Cards</span></b>
                </div>
                <ul class="list-group scroll-x scroll-y custom-style-list card_list_group cardlistview" style=" top 94px;">

                    <li class="list-group-item active">
                        <div class="checkbox">
                            <input type="checkbox" />
                        </div>
                        <div class="col-md-10">
                            <span class="name">2682638862386868</span> <br />

                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <input type="checkbox" />
                        </div>
                        <div class="col-md-10">
                            <span class="name">2682638862386868</span> <br />

                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <input type="checkbox" />
                        </div>
                        <div class="col-md-10">
                            <span class="name">2682638862386868</span> <br />

                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <input type="checkbox" />
                        </div>
                        <div class="col-md-10">
                            <span class="name">2682638862386868</span> <br />

                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <input type="checkbox" />
                        </div>
                        <div class="col-md-10">
                            <span class="name">2682638862386868</span> <br />

                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <input type="checkbox" />
                        </div>
                        <div class="col-md-10">
                            <span class="name">2682638862386868</span> <br />

                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <input type="checkbox" />
                        </div>
                        <div class="col-md-10">
                            <span class="name">2682638862386868</span> <br />

                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <input type="checkbox" />
                        </div>
                        <div class="col-md-10">
                            <span class="name">2682638862386868</span> <br />

                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <input type="checkbox" />
                        </div>
                        <div class="col-md-10">
                            <span class="name">2682638862386868</span> <br />

                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <input type="checkbox" />
                        </div>
                        <div class="col-md-10">
                            <span class="name">2682638862386868</span> <br />

                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <input type="checkbox" />
                        </div>
                        <div class="col-md-10">
                            <span class="name">3863863636963969639</span> <br />

                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li class="list-group-item ">
                        <div class="checkbox">
                            <input type="checkbox" />
                        </div>
                        <div class="col-md-10">
                            <span class="name">87658768686886868</span> <br />

                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <input type="checkbox" />
                        </div>
                        <div class="col-md-10">
                            <span class="name">6876866886868686</span> <br />

                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <input type="checkbox" />
                        </div>
                        <div class="col-md-10">
                            <span class="name">6876866886868686</span> <br />

                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <input type="checkbox" />
                        </div>
                        <div class="col-md-10">
                            <span class="name">6876866886868686</span> <br />

                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <input type="checkbox" />
                        </div>
                        <div class="col-md-10">
                            <span class="name">6876866886868686</span> <br />

                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <input type="checkbox" />
                        </div>
                        <div class="col-md-10">
                            <span class="name">6876866886868686</span> <br />

                        </div>
                        <div class="clearfix"></div>
                    </li>

                </ul>
            </div>
        </div>
        <!-- LIST VIEW-->
        <!-- AREA OVERVIEW-->
        <div class="col-md-9 col-lg-9 listOverview intrusionOverview  isptabs pull-left cards_listview_details viewmode">
            <div class="">
                <div class="pad-l10">
                    <h2 class="isppagetitle">
                        <span class="section-head1">26986396969269369692</span>
                        <span class="pull-right">
                            <span class="ispicon ispicon_edit card_view_edit_icon" data-toggle="tooltip" title="Edit"></span>
                        </span>
                    </h2>
                </div>
                <div class="">
                    <div class="row col-md-12">
                        <h3 class="bold">Permissions</h3>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Card Number<span class="star">*</span></label>
                            <input type="text" class="form-control" value="">
                           
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Access Group</label>
                            <select name="accessGroup1" id="accessGroup1" class="form-control" tabindex="11">
                                <option>Employee</option>
                                <option>Visitor</option>
                                <option>Access Group 1</option>
                                <option>Security Personal</option>
                                <option>Access Group 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Status</label>
                            <select name="credentialStatus1" id="credentialStatus1" class="form-control" tabindex="13">
                                <option>Active</option>
                                <option>Inactive</option>
                                <option>Lost</option>
                                <option>Trace</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Activation Date</label>
                            <input type="text" name="activationDate" id="activationDate" class="form-control" tabindex="7" data-format="MM/dd/yyyy" readonly="readonly">
                            <span class="addonbutton card_view_addonButton">
                                <span class="ispicon add-on ispicon_calender"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Expiry Date</label>
                            <input type="text" name="expiryDate" id="expiryDate" class="form-control" tabindex="8" data-format="MM/dd/yyyy" readonly="readonly">
                            <span class="addonbutton card_view_addonButton">
                                <span class="ispicon add-on ispicon_calender"></span>
                            </span>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <h3 class="bold">NetAxs Card Type</h3>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Card Type</label>
                            <select name="cardtype" id="cardtype" class="form-control" tabindex="13">
                                <option>Standard</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="checkbox" name="checkbox" class="card_view_uses_checkbox_icon">
                            <label class="control-label">Number of Uses</label>
                            <input type="text" name="email" id="email" class="form-control">
                        </div>

                    </div>

                    <div class="row col-md-12">
                        <button type="button" class="btn btn-primary pull-right card_view_assign_btn" data-toggle="modal" data-target="#addCard">Assign</button>
                    </div>
                    <div class="clearfix"></div>
                    <div class="btn btn-footer cards_view_footer">
                        <div class="btn-group pull-right" role="group" aria-label="group button">
                            <button type="button" class="btn btn-default">Cancel</button>
                            <button type="button" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-primary" style="margin-left:5px;">Save and add another</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- New Card -->
        <div class="col-md-offset-4 col-md-6 firsttimeLandingpage hide">
            <div class="firsttimepage">
                <p>
                    <a class="ispicon ispicon_firstItem" data-toggle="modal" data-target="#additem" title="Add floor Plan">
                    </a>
                </p>
                <p class="h1">You don’t have any Cards</p>
                <p class="s6">Add one now</p>
                <p><button class="btn btn-primary" data-toggle="modal" data-target="#additem" title="Add floor Plan">Add Card</button></p>
            </div>
        </div>
        <!-- Close New Card -->
    </div>
    <!-- AREA OVERVIEW-->
</div>


<div class="modal ispmodal fade in" id="addCard" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="false">
    <div class="modal-dialog ">
        <form class="modal-content show" novalidate="novalidate">
            <div class="modal-content assign_catd_popup">
                <div class="modal-header assign-card-header">
                    <h1 class="modal-title" id="lineModalLabel">Assign Card</h1>
                </div>
                <div class="mpc-model-form assign-card">
                    <div class="col-md-6 ispheadersearch pull-right">
                        <form>
                            <div class="row pull-left">
                                <div class="input-group">
                                    <div>
                                        <span class="ispicon ispicon_search assign-card-search pull-right"></span>
                                        <input name="x" type="text" class="form-control assign-card-input" placeholder="Search...">
                                    </div>
                                    <span class="input-group-btn ">
                                        <button class="btn btn-default assign-card-sort-icon dropdown-toggle " type="button" data-toggle="dropdown" aria-expanded="false"><span class="ispicon ispicon_sortasc"></span></button>


                                        <ul class="dropdown-menu ispmenu" role="menu">
                                            <li>
                                                <a href="#">Ascending</a>
                                            </li>
                                            <li>
                                                <a href="#">Descending</a>
                                            </li>
                                            <li>
                                                <a href="#">Recently Added</a>
                                            </li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="listStickyHeader" style="margin-top: 40px;">
                        <b class="bold">87</span> <span>People</b>
                    </div>
                    <ul class="list-group scroll-x scroll-y" id="contact-list">
                        <li class="list-group-item assign-card-img-list">
                            <div class="col-md-1">
                                <div class="control-label">
                                    <input id="radio" type="radio"> <label for="radio"></label>
                                </div>
                            </div>
                            <div class="col-md-1 ispimage-small assign-card-img">
                                <img alt="" src="" class="img-responsive img-square img-thumbnail">
                            </div>
                            <div class="col-md-8 rightlistcontent">
                                <h2 class="name">Manjunath Kalburgi</h2>
                                <p class="b name">Permanent Employee</p>
                                <div id="demo" class="collapse">
                                    <p class="b name">2 Credentials</p>
                                    <p class="b name">Manju@honeywell.com</p>
                                    <p class="b name">Active</p>
                                </div>
                            </div>
                            <div class="col-md-offset-1 col-md-1 assign-card-expand-icon">
                                <span class="ispicon ispicon_info" data-toggle="collapse" data-target="#demo"> </span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li class="list-group-item assign-card-img-list">
                            <div class="col-md-1">
                                <div class="control-label">
                                    <input id="radio" type="radio"> <label for="radio"></label>
                                </div>
                            </div>
                            <div class="col-md-1 ispimage-small assign-card-img">
                                <img alt="" src="" class="img-responsive img-square img-thumbnail">
                            </div>
                            <div class="col-md-8 rightlistcontent">
                                <h2 class="name">Manjunath Kalburgi</h2>
                                <p class="b name">Permanent Employee</p>
                                <div id="demo" class="collapse">
                                    <p class="b name">2 Credentials</p>
                                    <p class="b name">Manju@honeywell.com</p>
                                    <p class="b name">Active</p>
                                </div>
                            </div>
                            <div class="col-md-offset-1 col-md-1 assign-card-expand-icon">
                                <span class="ispicon ispicon_info" data-toggle="collapse" data-target="#demo"> </span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li class="list-group-item assign-card-img-list">
                            <div class="col-md-1">
                                <div class="control-label">
                                    <input id="radio" type="radio"> <label for="radio"></label>
                                </div>
                            </div>
                            <div class="col-md-1 ispimage-small assign-card-img">
                                <img alt="" src="" class="img-responsive img-square img-thumbnail">
                            </div>
                            <div class="col-md-8 rightlistcontent">
                                <h2 class="name">Manjunath Kalburgi</h2>
                                <p class="b name">Permanent Employee</p>
                                <div id="demo" class="collapse">
                                    <p class="b name">2 Credentials</p>
                                    <p class="b name">Manju@honeywell.com</p>
                                    <p class="b name">Active</p>
                                </div>
                            </div>
                            <div class="col-md-offset-1 col-md-1 assign-card-expand-icon">
                                <span class="ispicon ispicon_info" data-toggle="collapse" data-target="#demo"> </span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li class="list-group-item assign-card-img-list">
                            <div class="col-md-1">
                                <div class="control-label">
                                    <input id="radio" type="radio"> <label for="radio"></label>
                                </div>
                            </div>
                            <div class="col-md-1 ispimage-small assign-card-img">
                                <img alt="" src="" class="img-responsive img-square img-thumbnail">
                            </div>
                            <div class="col-md-8 rightlistcontent">
                                <h2 class="name">Manjunath Kalburgi</h2>
                                <p class="b name">Permanent Employee</p>
                                <div id="demo" class="collapse">
                                    <p class="b name">2 Credentials</p>
                                    <p class="b name">Manju@honeywell.com</p>
                                    <p class="b name">Active</p>
                                </div>
                            </div>
                            <div class="col-md-offset-1 col-md-1 assign-card-expand-icon">
                                <span class="ispicon ispicon_info" data-toggle="collapse" data-target="#demo"> </span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li class="list-group-item assign-card-img-list">
                            <div class="col-md-1">
                                <div class="control-label">
                                    <input id="radio" type="radio"> <label for="radio"></label>
                                </div>
                            </div>
                            <div class="col-md-1 ispimage-small assign-card-img">
                                <img alt="" src="" class="img-responsive img-square img-thumbnail">
                            </div>
                            <div class="col-md-8 rightlistcontent">
                                <h2 class="name">Manjunath Kalburgi</h2>
                                <p class="b name">Permanent Employee</p>
                                <div id="demo" class="collapse">
                                    <p class="b name">2 Credentials</p>
                                    <p class="b name">Manju@honeywell.com</p>
                                    <p class="b name">Active</p>
                                </div>
                            </div>
                            <div class="col-md-offset-1 col-md-1 assign-card-expand-icon">
                                <span class="ispicon ispicon_info" data-toggle="collapse" data-target="#demo"> </span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer assign-card-footer" style="margin-top:0">
                    <div class="btn-group" role="group" aria-label="group button">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <a type="button" href="customer-list.html" class="btn btn-primary">Save</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
    </div>
<section id="alertify" class="alertify alertify-confirm hide">
    <div class="alertify-dialog">
        <a id="alertify-resetFocusBack" class="alertify-resetFocus" href="#">Reset Focus</a>
        <article class="alertify-inner">
            <span class="ispicon ispicon_troubleCritical pull-left"></span>
            <p class="alertify-message">
                <b>Confirm Delete</b> <br> Are you sure you want to delete the
                <br>4 cards?
            </p>
            <nav class="alertify-buttons">
                <button class="alertify-button alertify-button-ok" id="alertify-ok">Yes</button><button class="alertify-button alertify-button-cancel" id="alertify-cancel">No</button>
            </nav>
        </article>
        <a id="alertify-resetFocus" class="alertify-resetFocus" href="#">Reset Focus</a>
    </div>
</section>