<div id="settings" class="tab-pane">
    <div class="row scroll-y settingsTab">
        <div class="contentContainer">
            <!-- AREA NUMBER SECTION START-->
            <div class="col-sm-12">
                <h4><b>Area Details</b></h4>
                <div class="row">
                    <form>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Area Name</label>
                            <input type="text" class="form-control">
                        </div>
                    </form>
                </div>
            </div>
            <!-- AREA NUMBER SECTION END-->
            <div class="col-sm-12">
                <form>
                    <div class="form-group col-sm-4">
                        <label class="control-label">Area Number</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="control-label">Area Type</label>
                        <select class="form-control" data-style="btn-primary">
                            <option class="select-item">Select</option>
                        </select>
                    </div>
                </form>
                <hr class="formGroupHr" />
            </div>
            <!-- ENTRY & EXIT SECTION START-->
            <div class="col-sm-12 clear">
                <h4><b>Area Settings</b></h4>
                <form>
                    <div class="col-sm-4 form-group">
                        <label class="control-label">Entry Delay</label>
                        <select class="form-control" data-style="btn-primary">
                            <option class="select-item">15 Seconds</option>
                            <option class="select-item">30 Seconds</option>
                            <option class="select-item">45 Seconds</option>
                        </select>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="control-label">Entry Delay Extended</label>
                        <select class="form-control" data-style="btn-primary">
                            <option class="select-item">15 Seconds</option>
                            <option class="select-item">30 Seconds</option>
                            <option class="select-item">45 Seconds</option>
                        </select>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="control-label">Exit Delay</label>
                        <select class="form-control" data-style="btn-primary">
                            <option class="select-item">15 Seconds</option>
                            <option class="select-item">30 Seconds</option>
                            <option class="select-item">45 Seconds</option>
                        </select>
                    </div>
                    <div class="col-sm-9 clear form-group">
                        <label class="control-label">Exit Delay Sounding</label>
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <select class="form-control" data-style="btn-primary">
                                    <option class="select-item">Select</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-3">
                                <select class="form-control" data-style="btn-primary">
                                    <option class="select-item">Select</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-3">
                                <select class="form-control" data-style="btn-primary">
                                    <option class="select-item">Select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 clear form-group">
                        <label class="control-label">Confirmation of Arming Ding</label>
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <select class="form-control" data-style="btn-primary">
                                    <option class="select-item">Select</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-3">
                                <select class="form-control" data-style="btn-primary">
                                    <option class="select-item">Select</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-3">
                                <select class="form-control" data-style="btn-primary">
                                    <option class="select-item">Select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="control-label">Auto Arm Warning Period</label>
                        <select class="form-control" data-style="btn-primary">
                            <option class="select-item">Select</option>
                        </select>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="control-label">Factors for Entry</label>
                        <select class="form-control" data-style="btn-primary">
                            <option class="select-item">Select</option>
                        </select>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="control-label">Limit Alarm Soundings</label>
                        <select class="form-control" data-style="btn-primary">
                            <option class="select-item">Select</option>
                        </select>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="control-label">Abort Time</label>
                        <select class="form-control" data-style="btn-primary">
                            <option class="select-item">Select</option>
                        </select>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="control-label">Bell Timeout</label>
                        <select class="form-control" data-style="btn-primary">
                            <option class="select-item">Disabled</option>
                        </select>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="control-label">Bell Delay</label>
                        <select class="form-control" data-style="btn-primary">
                            <option class="select-item">Disabled</option>
                        </select>
                    </div>
                </form>
                <hr class="formGroupHr" />
            </div>
            <!-- ENTRY & EXIT SECTION START-->
            <!-- AREA OPTIONS SECTION START -->
            <div class="col-sm-12 clear">
                <h4><b>Area Options</b></h4>
                <form>
                    <div class="col-sm-4 form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Force Bypass</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Two man Disarm</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Remove Bypass on Disarming</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Allow Bypass While Armed</label>
                        </div>
                    </div>
                    <div class="col-sm-3 form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Chime</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Affect Lobby</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Arm Lobby</label>
                        </div>
                    </div>
                </form>
            </div>
            <!-- AREA OPTIONS SECTION START -->
        </div>
    </div>
    <div class="col-md-12 navbar navbar-default  navbar-fixed-bottom btn-footer">
        <div class="btn-group pull-right" role="group" aria-label="group button">
            <button type="button" class="btn btn-default">Cancel</button>
            <button type="button" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>