.accountcontainer {
}

    .accountcontainer .leftlist {
        padding-left: 15;
        margin-left: -15px;
        padding-right: 0;
    }

        .accountcontainer .leftlist h6 {
            font-family: 'HoneywellSansWeb-Medium' !important;
            font-size: 14px;
            color: #1792e5;
            padding: 4px 4px 4px 10px;
        }

            .accountcontainer .leftlist h6 .ispicon {
                margin-right: 5px;
            }

        .accountcontainer .leftlist .panel-title {
            font-family: 'HoneywellSansWeb-Bold' !important;
            font-size: 18px;
            color: #303030;
            margin-left: 36px;
        }

        .accountcontainer .leftlist .panel {
            border-radius: 0;
            height: 100%;
            position: fixed;
            width: 24%;
            border-left: 0px solid #e7e7e7;
            box-shadow: 2px 0px 10px 0 #e7e7e7;
        }

            .accountcontainer .leftlist .panel ul li a.list-group-item {
                /*height: 44px;*/
                border-radius: 0;
                font-family: 'HoneywellSansWeb-Medium' !important;
                color: #606060;
                font-size: 14px;
                padding: 12px 24px;
            }

                .accountcontainer .leftlist .panel ul li.list-group-item.active, .accountcontainer .leftlist .panel ul li.list-group-item.active:hover, .accountcontainer .leftlist .panel ul li.list-group-item.active:focus, .accountcontainer .leftlist .panel ul li a.list-group-item:hover, .accountcontainer .leftlist .panel ul li a.list-group-item:focus {
                    background-color: rgba(185,221,243,.3);
                    color: #303030;
                }



            .accountcontainer .leftlist .panel ul.dropdown-menu {
                position: relative;
                background: initial;
                box-shadow: none;
                border: 0;
                width: 100%;
                padding: 0;
               /* margin-bottom:10px; */
            }

                .accountcontainer .leftlist .panel ul.dropdown-menu li {
                    /*border: none;*/
                }

                    .accountcontainer .leftlist .panel ul.dropdown-menu li a {
                        padding-left: 24px;
                    }


        .accountcontainer .leftlist .panel-heading + .list-group li {
            list-style-type: none;
            font-family: 'HoneywellSansWeb-Medium' !important;
            color: #606060;
            font-size: 14px;
            border: 1px solid #e7e7e7;
        }

            .accountcontainer .leftlist .panel-heading + .list-group li .ispicon {
                margin-right: 8px;
            }

        .accountcontainer .leftlist .panel-heading {
            background: #fff;
        }

    .accountcontainer .overview {
        padding-left: 0;
        padding-right: 0;
    }

        .accountcontainer .overview .isppagetitle {
            padding-left: 24px;
            font-family: 'HoneywellSansWeb-Medium' !important;
            color: #303030;
        }

        .accountcontainer .overview h3 {
            padding-left: 0;
            font-family: 'HoneywellSansWeb-Bold' !important;
            color: #303030;
        }

        .accountcontainer .overview .content {
            padding: 0 10px;
            /*margin-left: -15px !important;*/
            background: #f4f4f4;
            padding-right: 24px;
            box-shadow: 0 -1px 0 0 #d6d6d6;
            /*position: absolute;*/
            bottom: 0;
            top: 10px;
        }



    .accountcontainer .content .panel-info.white > .panel-heading {
        background: #fff;
        border: 0;
    }

    .accountcontainer .content .panel-info.white.accountdetails > .panel-body {
        padding: 0px;
    }

    .accountcontainer .content .panel-info.white > .panel-body {
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        padding-top: 0;
    }

    .accountcontainer .content .panel-info.white {
        border-color: #e7e7e7;
        border: 1px solid #e7e7e7;
        margin: 10px 0;
        padding: 10px;
        border-radius: 0;
    }

    .accountcontainer .leftlist .panel ul .list-group-item.active, .accountcontainer .leftlist .panel ul.list-group-item.active:hover, .accountcontainer .leftlist .panel ul li.list-group-item.active:focus {
        background: #e1eff9;
        color: #303030;
        font-size: 14px;
        font-family: 'HoneywellSansWeb-Bold' !important;
    }

        .accountcontainer .leftlist .panel ul .list-group-item.active .menuname {
            color: #303030;
            font-size: 14px;
            font-family: 'HoneywellSansWeb-Bold' !important;
        }


    .accountcontainer .leftlist .panel ul .list-group-item .ispicon.ispicon_downarrow {
        margin-right: 0px;
    }

.testingstyle {
    padding-left: 0px;
    margin-left: -15px !important;
    margin-right: 15px;
}

@media (max-height: 768px) {
    .addnewaccount {
        max-height: 330px;
        width: 100%;
    }

    .accountcontainer .overview .content {
        width: 98%;
        max-height: 520px;
    }


}

@media (min-width: 1366px) {
     .accountcontainer.site .overview {
        width: 106%;
        margin-left: -15px !important;
    }
     .accountcontainer.customer .overview .content{
        width:100%;
        
    }
}

@media (min-width: 1920px) {
     .accountcontainer.site .overview {
        width: 103%;
        margin-left: -15px !important;
    }
}
.accountcontainer.customer .overview .content
{
    background: #f4f4f4 !important;
    box-shadow: 0 -1px 0 0 #d6d6d6 !important;
}
