/*version 1.0.3*/
.carousel-inner.onebyone-carosel {
    margin: auto;
    width: 100%;
}

.onebyone-carosel .active.left {
    left: -33.33%;
}

.onebyone-carosel .active.right {
    left: 33.33%;
}

.onebyone-carosel .next {
    left: 33.33%;
}

.onebyone-carosel .prev {
    left: -33.33%;
}

#myCarousel .col-md-4 {
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
}

.carousel-control.right {
    background-image: none !important;
    filter: none !important;
}

.carousel-control {
    background-color: none;
    font-size: 1.5em;
    height: 32px;
    line-height: 1.4;
    margin: 0;
    padding: 0px 0px;
    width: 32px;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    -0-transition: color .2s;
    transition: color .2s;
    border-radius: 3px;
    opacity: 1 !important;
}

    .carousel-control:hover {
        opacity: 0.8 !important;
    }

.carousel-indicators {
    top: 260px;
}


.people-root {
    /*position: relative;
    left: 24%;*/
}

    .people-root .lists {
        width: 336px;
        float: left;
        position: absolute;
        left: 24%;
        bottom: 0;
        top: 0;
    }

.togglemenu .people-root {
    position: absolute;
    left: 70px;
    width: 100%;
}

    .togglemenu .people-root .peopleoverview {
        width: 69%;
    }

    .togglemenu .people-root .ispbuttongroup {
        width: 70%;
        left: 31%;
    }


.people-root input[type='checkbox']:disabled + span {
    background: none !important;
}

.people-root .isptabs .nav li a:hover, .isptabs .nav li a:active, .isptabs .nav li a:focus {
    border: none;
}

.people-root .isptabs .nav li.active a {
    font-family: "HoneywellSansWeb-Bold" !important;
    font-size: 14px;
    color: #1792e5;
    background: transparent;
    border-bottom: 4px solid #1792e5;
    padding: 8px 0 4px 0;
}

.people-root .peopleoverview {
    width: 50%;
}

    .people-root .peopleoverview.isptabs .tab-header {
        margin-right: -15px;
        margin-left: -10px !important;
    }

.people-root .cardlistview {
    width: 336px;
    float: left;
    position: absolute;
    left: 24%;
    bottom: 0;
    top: 0;
    border-right: 1px solid #e7e7e7;
}

    .people-root .cardlistview .isppagetitle {
        font-family: 'HoneywellSansWeb-Bold' !important;
        color: #202020;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 17px;
        margin-bottom: 14px;
    }

    .people-root .cardlistview .pull-right {
        margin-right: 20px;
    }

    .people-root .cardlistview .nav.nav-tabs {
        margin-left: 20px;
    }

    .people-root .cardlistview .panel.panel-default {
        border: 0;
        border-radius: 0 !important;
        border-top: 1px solid #d0d0d0;
        border-bottom: 1px solid #d0d0d0;
    }

.people-root .profile-pic {
    margin-top: 24px;
    left: 30px !important;
    background: #f2f2f2;
    padding: 0px;
    width: 114px;
    height: 109px;
    margin-right: 20px;
}

    .people-root .profile-pic img {
        max-width: 114px;
        max-height: 110px;
        width: 114px;
        height: 110px;
        padding: 0;
        border-radius: 0;
    }


        .people-root .profile-pic img[src=""] {
            background-image: url('../images/icon_sprites_24px-01.svg');
            background-repeat: no-repeat;
            display: block;
            width: 114px;
            height: 110px;
            background-size: 1200px;
            content: "";
            background-position: -512px -63px;
            vertical-align: top;
            z-index: 100;
            padding: 42px;
            background-clip: content-box;
            cursor: pointer;
        }

    .people-root .profile-pic input[type="file"] {
        background-image: url('../images/icon_sprites_24px-01.svg');
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        width: 114px;
        height: 110px;
        opacity: 0;
        background-size: 780px;
        content: "";
        vertical-align: top;
        z-index: 100;
        padding: 42px;
        -webkit-appearance: none;
    }

.people-root .img-browse-txt {
    margin-top: -40px;
    font-family: 'HoneywellSansWeb-Medium' !important;
    color: #606060;
    font-size: 12px;
}

/*.people-root .cardlistview #contact-list {
    position: fixed;
    width: 25%;
    top: 191px;
    overflow-y: auto;
    bottom: 0;
    height: auto;
    border-right: 1px solid #ddd;
}*/

.people-root .cardlistview #contact-list .ispimage-small img {
    min-width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 0;
}

    .people-root .cardlistview #contact-list .ispimage-small img[src=""] {
        background-image: url('../images/icon_sprites_24px-01.svg');
        display: block;
        width: 56px;
        height: 56px;
        margin-top: 3px;
        background-size: 1400px;
        content: "";
        background-position: -228px -110px;
        vertical-align: top;
        z-index: 100;
    }

.people-root .cardlistview #contact-list .ispimage-small {
    max-width: 52px;
    padding-left: 2px;
}

.people-root .cardlistview #contact-list .checkbox-square {
    padding-left: 10px;
}

    /*this is custom fix for checkbox style on People list page and Create New IntrusionGroup from People page*/
    .people-root .cardlistview #contact-list .checkbox-square input[type="checkbox"], .people-root .addSchedule .checkbox-square input[type="checkbox"] {
        margin-top: 0;
    }


.people-root .cardlistview .name {
    font-family: 'HoneywellSansWeb-Bold' !important;
    font-size: 16px;
    text-align: left;
    color: #606060;
    margin-right: 0;
    display: inline-block;
    width: 57%;
    float: left;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.people-root .cardlistview .designation {
    font-family: 'HoneywellSansWeb-Bold' !important;
    font-size: 14px;
    color: #606060;
    float: left;
    position: absolute;
    left: 16px;
}

.people-root .cardlistview .employeeid {
    font-family: 'HoneywellSansWeb-Bold' !important;
    font-size: 14px;
    color: #808080;
}

    .people-root .cardlistview .employeeid .card {
        margin-left: 12px;
    }

.people-root .cardlistview .inactive {
    font-family: 'HoneywellSansWeb-Bold' !important;
    float: left;
    word-break: initial;
    font-size: 10px;
    line-width: 100;
    line-height: 100%;
    color: #FFF;
    display: inline-block;
    background-color: #a0a0a0;
    text-transform: capitalize;
    float: left;
    max-width: 43%;
    padding: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.people-root .viewmode input, .people-root .viewmode textarea, .people-root .viewmode input[type="checkbox"], .people-root .viewmode input[type="radio"],
.people-root .viewmode select, .people-root .viewmode .ispicon_calender, .people-root .viewmode .btn-primary, .people-root .viewmode .ispaddicon, .people-root .viewmode .people_card_wrong_icon {
    /*background-color: #f2f2f2;*/
    font-family: 'HoneywellSansWeb-Medium' !important;
    font-size: 14px;
    color: #606060;
    pointer-events: none;
}

.people-root .viewmode .profile-pic input[type="file"] {
    pointer-events: none;
}

.people-root .viewmode .checkbox {
    pointer-events: none;
}

.people-root .viewmode .btn-footer {
    display: none;
}

.people-root .viewmode .ispicon_calender {
    background: transparent;
}

.people-root .btn-footer {
    margin-top: 10px;
    padding-top: 10px;
    left: -16px;
    background-color: #fff;
    border-color: #fff;
}

.people-root .bold {
    font-family: 'HoneywellSansWeb-Bold' !important;
    color: #303030;
}

.people-root .cardlistview .c-search {
    margin: 0;
}

.people-root .c-search input {
    padding-left: 50px;
    font-family: 'HoneywellSansWeb-Medium' !important;
    font-size: 14px;
    color: #d0d0d0;
    border: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.people-root .cardlistview .c-search input:focus, .people-root .cardlistview .c-search button:focus, .people-root .cardlistview .c-search input:hover {
    border: none;
    box-shadow: none;
    background-color: none;
}

.people-root .cardlistview .c-search button {
    border: 0;
}

.people-root .cardlistview .listcount {
    background: #f2f2f2;
    margin-right: 0;
    padding: 4px 0px 8px 15px;
}

.people-root .section-head2 {
    font-size: 18px;
    font-family: 'HoneywellSansWeb-Medium' !important;
    color: #606060;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.people-root .section-head1 {
    font-size: 22px;
    font-family: 'HoneywellSansWeb-Bold' !important;
    color: #303030;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 82%;
}

.peopleoverview .nav.nav-tabs {
    position: absolute;
    top: 85px;
    left: 152px;
    min-width: 100%;
    padding-top: 12px;
    bottom: 0;
    height: 49px;
}

@media (max-width: 1366px) and (min-width: 1441px) {
    /*.cardlistview #contact-list {
        max-height: 735px;
    }

    .peopleoverview .profile, .peopleoverview .access {
        max-height: 400px;
    }*/
}

@media screen and (min-width: 1920px) {
    .people-root .peopleoverview .profile, .peopleoverview .access {
        /*height: calc(1920px - 190px);*/
    }

    .people-root .btn-footer .btn-group.col-md-offset-4 {
        left: 64px;
    }

    .people-root .cardlistview .name {
        max-width: 217px;
    }
}

@media screen\0 and (max-width: 1366px) and (min-width: 1441px) {
    /*.peopleoverview .profile, .peopleoverview .access {
        height: calc(1366px - 898px);
    }*/
}

@media screen\0 {

    .people-root .peopleoverview .profile, .peopleoverview .access {
        /*height: calc(1366px - 898px);*/
    }

    .people-root .cardlistview .c-search input {
        padding-top: 10px;
    }

    .people-root .ispicon.inverse::before {
        width: 20px;
        left: 24px;
        top: 43px;
    }

    .people-root .peopleoverview .profile-pic img[src=''] {
        background-position: -150px -116px;
    }

    .people-root .cardlistview #contact-list .ispimage-small img {
        height: 50px !important;
    }
}

@media screen\0 and (min-width: 1920px) {
    .people-root .peopleoverview .profile, .peopleoverview .access {
        /*max-height: 900px;*/
    }
}

.blankview {
    padding-top: 20%;
    padding-left: 33%;
}

.cardlistview .rightlistcontent {
    width: 72%;
    padding-right: 0px;
}


.people-root .card-horizontal-scroller {
    margin-top: 14px;
    margin-bottom: 3px;
}

    .people-root .card-horizontal-scroller .card {
        max-width: 160px;
        padding: 10px 5px;
        margin-right: 8px;
        background-color: #f7f7f7;
        font-size: 14px;
        color: #000;
        font-family: 'HoneywellSansWeb-Bold' !important;
        cursor: pointer;
    }

        .people-root .card-horizontal-scroller .card.newCard {
            background: #D1E9FA;
            color: #fff;
            border: 1px solid #C0C0C0;
            margin-right: 20px;
            height: 75px;
            /*display: table;
    vertical-align: middle;
    padding: 20px 25px;*/
            text-align: center;
        }

            .people-root .card-horizontal-scroller .card.newCard span {
                background: none;
                font-size: 20px;
                font-weight: 600;
                vertical-align: middle;
                display: table;
                padding: 13px 18px;
            }

            .people-root .card-horizontal-scroller .card.newCard.selected {
                background: #D1E9FA;
                color: #fff;
                border: 1px solid #C0C0C0;
                margin-right: 20px;
                height: 82px;
                text-align: center;
            }

        .people-root .card-horizontal-scroller .card.active {
            background: #fff;
            color: #fff;
            border: 1px solid #C0C0C0;
            border-top: 4px solid #7EB338;
            margin-right: 20px;
            height: 82px;
        }


        .people-root .card-horizontal-scroller .card.inActive {
            background: #fff;
            color: #fff;
            border: 1px solid #F0F0F0;
            border-top: 4px solid #D0D0D0;
            margin-right: 20px;
            height: 82px;
        }

        .people-root .card-horizontal-scroller .card.selected {
            background: #D1E9FA;
            color: #fff;
            border: 1px solid #8BC9F2;
            border-top: 4px solid #7EB338;
            margin-right: 20px;
            height: 82px;
        }

        .people-root .card-horizontal-scroller .card span {
            background-color: #606060;
            padding: 2px 10px;
            margin-right: 10px;
            margin-bottom: 10px;
        }

            .people-root .card-horizontal-scroller .card span.carditem {
                background-color: transparent;
            }

.people-root .checkboxlabel .checkbox {
    margin: -5px 0 10px 0;
}

.people-root .ispbuttongroup {
    position: absolute;
    bottom: 16px;
    /* left: 50%; */
    padding: 0;
    padding-top: 10px;
    border-top: 1px solid #d6d6d6;
    padding-left: 0px;
    margin-left: 16px;
    width: 100%;
}

.viewmode .people-root .ispbuttongroup {
    display: none;
}

.people-root .overviewtitle {
    margin-top: 20px;
}

.ispbuttongroup .btn-group {
    right: 16px;
    /* position: absolute; */
    top: 16px;
    bottom: 16px;
}

.intrusionListStyle {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 150px;
}

    .intrusionListStyle ul {
        list-style-type: none;
    }


    .intrusionListStyle li {
        border: solid 0.01px #f2f2f2;
        list-style-type: none;
        height: 35px;
        cursor: pointer;
    }

        .intrusionListStyle li a {
            text-decoration: none;
            width: 100%;
        }

.outerDropdown {
    list-style-type: none;
}

.child {
    display: none;
}

.people-root .addSchedule .checkbox input[type="checkbox"] {
    opacity: 1 !important;
    margin-top: 0;
}

.people-root .people_activation_date_icon {
    top: 27px;
    right: 10px;
}

.people-root .people_expiry_date_icon {
    top: 27px;
    right: 25px;
}

.people-root .people_list_sort_icon {
    background: none !important;
    border: none !important;
}

    .people-root .people_list_sort_icon:hover {
        background: none !important;
        border: none !important;
    }

.people-root .people_list_search_icon:before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.people-root .people_access_activation_date_icon {
    right: 10px;
}

.people-root .people_access_expiry_date_icon {
    right: 22px;
}

.people-root .people_access_carousel_left_arrow_icon:before,
.people-root .people_access_carousel_right_arrow_icon:before {
    position: relative;
    top: 25px;
}

.people-root .people_card_wrong_icon {
    background: none !important;
    position: absolute;
    right: -15px;
    top: 0;
}

.people-root .people_access_cardno {
    position: absolute;
    top: 10px;
    color: #ddd;
}

.people-root .people_access_cardname {
    position: absolute;
    bottom: 6px;
    border: 1px solid #7EB338;
    background: #fff !important;
    padding: 0 5px !important;
    left: 15px;
    color: #7EB338;
    font-family: 'HoneywellSansWeb-Bold';
}

.people-root .spinner-control label {
    margin-bottom: 0;
}

.people-root .spinner-control input[type="checkbox"] {
    position: relative;
    bottom: 2px;
}

.people-root .spinner-control span.accessUses {
    font-weight: normal;
}

.people_delete .modal-dialog {
    background: #fff;
    width: 700px;
}

.people_delete .modal-content {
    box-shadow: none;
    border: none;
}

.people_delete.ispmodal {
    left: 25%;
    top: 25%;
}

people_delete .modal-header {
    border-bottom: none !important;
}

.ispmodal.people_delete .modal-header {
    padding: 30px 0 0px 0;
    border-bottom: none;
}

    .ispmodal.people_delete .modal-header h1 {
        display: inline-block;
    }

.people-root .firsttimeLandingpage {
    position: absolute;
    right: 0px;
    /*bottom: 35%;*/
    top: 30%;
    padding: 0;
    left: 0;
}

    .people-root .firsttimeLandingpage .firsttimepage {
        padding: 0px;
        margin: 0px;
    }

.people-root .ispselectdropdown .isppopup-site {
    width: calc(100% - 5px);
}

.people-root .viewmode .btn-primary {
    border: none !important;
}

#peoplemgmtPeopleDeleteUser {
    border-radius: 5px;
}

#peoplemgmtPeopleDeleteUserAndCards {
    border-radius: 5px;
    margin-right: 8px;
}

#peoplemgmtPeopleDeleteCancel {
    background: #808080;
    border: none;
    border-radius: 5px;
}

#deletepeople .modal-footer {
    padding: 16px 20px 75px;
}

.people-root .ispselectdropdown .isppopup-site .accordion li div:hover {
    background: #e1eff9;
}

.people-root .people_access_cardname.inActive {
    color: #000;
    font-family: 'HoneywellSansWeb-Bold';
}

.people-root .ispselectdropdown .isppopup-site.peopleCredentialCardNo {
    width: calc(100% - 20px);
}

.people-root .peopleCredentialCardNo ul {
    width: 100% !important;
}

.people-root .card-horizontal-scroller .card.selected.active .carditem.people_access_cardno {
    color: #606060;
}

.people-root .card-horizontal-scroller .card.selected.inActive .carditem.people_access_cardno {
    color: #303030;
}

.people-root .card-horizontal-scroller .card.active .carditem.people_access_cardno {
    color: #606060;
}

.people-root .peopleListDeleteIcon {
    position: relative;
    left: 3px;
}

.people-root .peopleoverview .isptabs .nav li {
    padding: 0 20px 0 0;
}

.people-root .intrusionHeader hr {
    margin-top: 8px;
}

.people-root .intrusionHeader h3 {
    line-height: 1.4em;
    margin-bottom: 14px;
}

.people-root #access .access {
    margin-top: 8px;
}

.people-root .people_access_cardname.InActive {
    border: 1px solid #d0d0d0;
    color: #606060;
}

#peoplemgmtCarosel {
    margin-left: 25px;
}

.people-root .access .carousel-control.right {
    background: none;
}

.people-root .carouselRightIcon {
    position: relative;
}

.people-root .cardlistview .ispheadersearch {
    padding-right: 20px;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    height: 43px;
}

.people-root .ispheadersearch .dropdown-toggle {
    margin: 0;
}

.people-root .peopleList_searchIcon:before {
    transform: rotate(90deg);
}

.people-root .peopleList_SearchInput {
    position: relative;
    right: 6px;
}

.people-root .peopleList_sortIcon {
    position: relative;
    right: 10px;
}

.people-root .peopleList_recordNos {
    position: relative;
    top: 5px;
    left: 5px;
}

.people-root .peopleList-sortList {
    margin: -5px 5px 0 0 !important;
}

.people-root .peopleList_sortIconBtn {
    background: none !important;
}

.people-root .people-delete-icon {
    position: absolute;
    right: 20px;
    top: 22px;
}

.people-root .people-add-icon {
    position: absolute;
    right: 47px;
    top: 23px;
}

.people-root .people-edit-icon {
    position: absolute;
    right: 20px;
    top: 22px;
}

.people-root .people-toggle-icon {
    position: absolute;
    right: 20px;
    top: 80px;
}

.people-root .row {
    height: 110px;
}

.people-root .listcontainer {
    position: absolute;
    top: 133px;
    bottom: 0px;
    overflow-y: hidden;
    width: 100%;
    margin-bottom: 0;
}

    .people-root .listcontainer:hover {
        overflow-y: auto;
    }

    .people-root .listcontainer .listStickyHeader {
        border-top: 0px;
        text-align: left;
        border-top: 2px solid #d0d0d0;
    }

.people-root .cardlistview .list-group-item {
    padding: 10px 20px;
    border-right: 0px;
    cursor: pointer;
}

.people-root .peopleoverview {
    position: absolute;
    bottom: 0;
    top: 0px;
    padding: 0px;
    width: calc(76% - 336px);
    margin: 0px;
    right: 0px;
}

.people-root .heading {
    margin-top: 14px;
    margin-bottom: 7px;
}

.people-root #profile {
    position: absolute;
    overflow-y: hidden;
    top: 134px;
    bottom: 66px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

    .people-root #profile:hover {
        overflow-y: auto;
    }


.people-root #access {
    position: absolute;
    overflow-y: hidden;
    top: 134px;
    bottom: 66px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

    .people-root #access:hover {
        overflow-y: auto;
    }

.people-root #additional {
    position: absolute;
    overflow-y: hidden;
    top: 134px;
    bottom: 66px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

    .people-root #additional:hover {
        overflow-y: auto;
    }
